[2022-05-02 00:35] matthewmueller opened #5 "Use js extensions for page entrypoints"
Right now we have entrypoints that have the following format: `bud/view/{controller}/\_{action}.{ext}`.

So for `bud/view/index.svelte`, the entrypoint would look like `bud/view/_index.svelte`.

This was nice for understanding the mapping, but doesn't play well with tools that use the extension to determine the content-type, since those served svelte files are actually javascript.

Let's change th

[2022-05-06 03:33] matthewmueller opened #6 "Add M1 binary support"
Need to make this happen! Two requests so far from @kuldar and @sid405 😊

From Sidd:

[2022-05-06 04:22] matthewmueller opened #7 "Add Windows Support"
Windows support is currently blocked by:
- https://github.com/rogchap/v8go/pull/234

Bud's compiler will also transition to using Go plugins, which also do not have Windows support yet:
- https://github.com/golang/go/issues/19282
Though we could use something like [go-plugin](https://github.com/hashicorp/go-plugin) for Windows.

I haven't tested it yet, but you should be able to use Bud with the [

[2022-05-12 09:32] matthewmueller opened #10 "204 No Content improvements"
For example,

[code]

These functions should return `204 No Content` if successful.

[2022-05-12 10:05] matthewmueller opened #14 "Return helpful errors"
Whenever a request doesn't match the controller's signature, we should return a `400 Bad Request` with a helpful error:

[code]

[code]

[code]

[2022-05-13 18:54] matthewmueller opened #22 "Asset hosting"
<img width="800" alt="video thumbnail" src="https://user-images.githubusercontent.com/170299/168354662-8eb95154-a58f-4b25-8feb-b6d0d647ef74.png">

[2022-05-13 18:54] #22 closed

[2022-05-13 20:25] josebalius opened #23 "Server side rendering"
Watched the demo and it was pretty good!

I am curious if you've thought about adding a way of rendering the views server-side instead of using Svelte? For example, using Go's templating system. I realize you lose out on the component capabilities of today's FE frameworks, but as someone who prefers server-side rendered apps, I think this would be a good feature to support. As mentioned it can be

[2022-05-14 00:11] benburdick opened #26 "DNS does not resolve for installer URL"
livebud.com does not resolve

[2022-05-14 01:42] alecthomas opened #27 "stat $TMPDIR/bud/cache/4Lh3YtPjLfk: not a directory"
Thanks!

[2022-05-14 03:43] codenoid commented on #27
You could temporary use [tj/gobinaries](https://github.com/tj/gobinaries)
[code]

[2022-05-14 03:50] alecthomas commented on #27
The darwin/amd64 binaries work okay through Rosetta for now.

[2022-05-14 03:50] alecthomas commented on #27
tj/gobinaries is pretty cool though!

[2022-05-14 03:53] alecthomas commented on #27
Although it fails to work for me:

[code]

[2022-05-14 05:08] matthewmueller commented on #23
Hey @josebalius, thanks opening this issue. [SSR rendering works out of the box](https://github.com/livebud/bud/tree/main/runtime/view/ssr) already!

This was hard to do, but I couldn't live with the tradeoff of choosing between a modern FE frontend and performance, SEO, web standards.

I should have shown it in the demo, but if you go through the HN demo, try running `curl :3000` and you'll be ov

[2022-05-14 05:09] #23 closed

[2022-05-14 06:15] matthewmueller commented on #27
Hey @alecthomas, thanks for stopping by! I'm a fan of your work.

I've been told it works through Rosetta emulation:

But I'll add native support for darwin/arm64 this weekend. Closing as a duplicate of #6

[2022-05-14 06:21] alecthomas commented on #27
🙏

[2022-05-14 06:37] codevin opened #30 "Error: invalid cross-device link"
When I did 'bud create ff-bud', I got this error:
`
| rename /tmp/bud-create-3425471412 ff-bud: invalid cross-device link
`
Possibly because /tmp is different partition than the current directory. Rename will work only in same partition?

[2022-05-14 06:56] febriliankr opened #32 "ARM Support"
I was doing install script in my macbook air m1
`$ curl -sf curl https://raw.githubusercontent.com/livebud/bud/main/install.sh | sh`

then I got this error
`livebud/bud: platform darwin/arm64 is not supported.  Make sure this script is up-to-date and file request at https://github.com/livebud/bud/issues/new`

[2022-05-14 09:19] matthewmueller commented on #32
Thanks for opening this issue, I just released [v0.1.0](https://github.com/livebud/bud/releases/tag/v0.1.0) which hopefully should address this.

Unfortunately I wasn't able to test this myself, so please give it a go. Let me know.

[2022-05-14 09:19] #32 closed

[2022-05-14 09:22] matthewmueller commented on #27
Please try again:

[code]

Wasn't able to test this since I'm not on an M1. I did see some V8 warnings, so let's see 😅

[2022-05-14 09:32] matthewmueller commented on #6
This **might** be working now. Please try again:

[code]

I wasn't able to test this since I'm not on an M1. I did see some V8 warnings, but no errors. Let's see 😅

[2022-05-14 09:32] #6 closed

[2022-05-14 09:33] matthewmueller commented on #30
Ah interesting, can you test if Go's `os.Rename()` works across your partition? I'm not sure what I can do about this if it doesn't.

[2022-05-14 09:33] matthewmueller commented on #26
Sorry about that! I fixed the install script in all the places:

[code]

[2022-05-14 09:33] #26 closed

[2022-05-14 09:38] alecthomas commented on #27
Nice, thanks!

It does run, but it fails to serve or build with:

[code]

[2022-05-14 10:48] matthewmueller commented on #27
Ah interesting, that shouldn't be a directory, it's actually a cached binary. Looking into it!

[2022-05-14 11:12] alecthomas commented on #27
[code]

[2022-05-14 11:13] alecthomas commented on #27
Deleting that file fixed it, but I have no idea how it got there 🤔

[2022-05-14 11:15] alecthomas opened #35 "Listen on 127.0.0.1 rather than 0.0.0.0"
OSX throws up a security prompt every time bud starts because it's binding to 0.0.0.0. Binding to 127.0.0.1 instead will rectify this.

![image](https://user-images.githubusercontent.com/41767/168423363-3d44e595-40e5-4e4f-b2bb-bc8ca55b5474.png)

[2022-05-14 11:17] alecthomas commented on #35
Ah I see by digging into the code that this is actually possible to override:

[code]

I didn't expected that to work because the flag is named `--port`, rather than eg. `--bind`.

[2022-05-14 11:41] matthewmueller commented on #27
I'll look into this after dinner 😄

[2022-05-14 11:49] syke99 commented on #35
@alecthomas not yet a contributor (though I plan to once my other projects calm down just a bit) but how do y’all feel about removing the need to pass in a `—port flag`, adding in a check `run` to determine to user’s OS and bind to 0.0.0.0 if anything but OSX?

[2022-05-14 11:58] alecthomas commented on #35
IMO it's fine to bind development servers to 127.0.0.1 by default. As long as there's a way to change it, there's no real downside.

[2022-05-14 12:03] syke99 commented on #35
I don’t either, but was unaware of the team’s view and wanted to toss out an option for if defaulting to 127.0.0.1 was shot down. Thanks!!

[2022-05-14 12:31] kevwan commented on #27
Got the same issue.

[2022-05-14 12:48] endigma opened #36 "Move docs off notion into docusaurus or something?"
Notion is a dumpster fire, you have full access to github pages and a million other things, please setup something actually usable. Docusaurus, Jekyll, Hugo and a bunch of other SSGs will create docs (can even be searchable) from markdown source (which I'm p sure you can export from Notion).

[2022-05-14 13:23] syke99 opened #37 "Plans for shipping with Vue?"
According to the demo video, bud is agnostic to front end frameworks, but currently only ships with Svelte and planned to ship with React in the future. Just curious if there are plans to ship with Vue as a friend of mine and I are currently working on a Go/Vue project

[2022-05-14 13:43] FeldrinH commented on #7
Reading through https://github.com/golang/go/issues/19282 it seems that Windows support for Go plugins is currently not in development and there are no development plans in the nearer future.

Also the general sentiment in that issue thread seems to be that Go plugin support is flaky and half-baked even on platforms where it is supported (see also https://github.com/golang/go/issues/20461 and http

[2022-05-14 14:00] djboboch opened #38 "WSL 2 - Cannot create new project"
Been using go for a while and have been looking for a framework like bud for a while.

I installed bud using the install script, then when trying to create a new project using `bud create hello` the installed runs some things happen however the cli get stuck ( see screenshot).

![image](https://user-images.githubusercontent.com/26084619/168428954-a852840a-3460-4f87-9cf9-5a7d8b345da8.png)

No new f

[2022-05-14 16:18] codevin commented on #30
Verified this issue - Rename doesn't work across partitions.

Error: rename /tmp/Hello1.txt /tmp/hello2.txt: no such file or directory
go version go1.18.1 linux/amd64

On Sat, May 14, 2022 at 3:03 PM Matt Mueller ***@***.***>
wrote:

[2022-05-14 16:25] theEyeD commented on #7
I was able to get it working on WSL. From a fresh install of Ubuntu WSL I just needed to install go and npm and I was up and running.

From a browser on Windows just go to `http://localhost:3000` instead of `http://0.0.0.0:3000`.

I will also mention that I ran into `| rename /tmp/bud-create-4082930893 hello: invalid cross-device link` when attempting to run `bud create hello` under the default `/

[2022-05-14 17:14] codevin commented on #30
Usually /tmp will be different partition, and so it is common problem.

Workaround: Create a subdir in /tmp itself, and in that run the bud command to create the app. After that, move the directory to desired location.

(To solve this problem in bud, there are Copy directory packages in golang. They can be used, and the /tmp dir deleted. )

[2022-05-14 17:17] codevin commented on #30
Oh no. Bud uses rename even during many other steps, say when we do bud run...

[2022-05-14 18:38] matthewmueller commented on #27
Looked into it but haven't been able to repro it. A couple questions:

1. Were the repro steps the following?

[code]

2. Were you able to reliably reproduce the error multiple times?

3. @kevwan are you on an M1 as well?

The problem appears to be somewhere in https://github.com/livebud/bud/blob/main/internal/buildcache/buildcache.go.

What's odd is the "not a directory" error only seems to appea

[2022-05-14 18:47] j4v3l commented on #37
1+ .... I am also looking into working with Vue & Go

[2022-05-14 18:48] matthewmueller commented on #7
@FeldrinH Since plugin builds will stay local and don't need to be closed, the mentioned constraints are acceptable for bud's purposes. Go plugins will be used to allow you to bring your own code generators, transformers and commands.

For windows, build tags plus something like https://github.com/hashicorp/go-plugin will suffice. It'll just be slower to boot for window's users.

@theEyeD Could yo

[2022-05-14 18:48] matthewmueller commented on #38
Could you send an ABRT signal to the bud process when it's hanging and share the stack trace? https://pro-tips-dot-com.tumblr.com/post/47677612115/kill-a-hung-go-process-and-print-stack-traces. That may help us narrow down the problem.

[2022-05-14 18:52] matthewmueller commented on #30
Not sure I'm following. Wouldn't /tmp/subdir also be in a different partition? Do you mind elaborating?

[2022-05-14 20:02] theEyeD commented on #7
<details>
  <summary> <code>kill -ABRT &lt;pid&gt;</code> </summary>

[code]

</details>

[2022-05-14 21:55] alecthomas commented on #27
I suspect the error occurs with Open() when an [intermediate path element is a file](https://go.dev/play/p/6hnVlCX0APz). eg. `os.Open("/etc/passwd/foo")`

[2022-05-14 22:12] amandamcg commented on #35
On my machine I didn't even get a warning, it just wouldn't load. Loading as `http://localhost:3000/` worked fine in case it helps anyone else.

[2022-05-14 22:59] sid405 commented on #6
Can confirm that this runs just fine without errors now!

[2022-05-15 02:14] quaintdev commented on #35
I agree we should default to 127.0.0.1. But I think while building for production it should default to 0.0.0.0. I am not sure if bud is aware of dev/prod environments though. I guess passing the IP seems easiest solution for now.

I don't like the fact that `--port 127.0.0.1:3000` can change binding address too. Probably we should change '--port` to `--bind`.

[2022-05-15 02:39] syke99 commented on #35
Is there a reason that there’s not separate functionality for changing the binding address and port separately with `—bind` and `—port`, respectively? Seems doing so could possibly open up a solution for determining dev vs. prod. Especially in the context of CI/CD

[2022-05-15 03:11] kevwan commented on #27
Yes, latest M1.

[2022-05-15 03:21] codevin commented on #30
When /tmp is in separate partition, all its subdirectories are obviously in
the same partition. So rename will work properly.

(But /tmp is may be cleaned daily by cron process..)

On Sun, 15 May, 2022, 00:22 Matt Mueller, ***@***.***> wrote:

[2022-05-15 04:33] matthewmueller commented on #37
Thanks for opening this. I know next to nothing about Vue, could you share what makes Vue special when compared with Svelte and React?

_(converted this to a discussion since it's not a bug)_

[2022-05-15 04:53] matthewmueller commented on #36
@endigma thanks for your comment. Your tone coming across text is a bit harsh, but I'm going to assume best intentions.

Notion was a temporary solution to be able to share Bud with everyone quicker. I think it makes sense for the documentation to be built with Bud, don't ya think? 😉

[2022-05-15 06:43] codenoid commented on #35
I will try to work on this, --host and --port separation

[2022-05-15 07:12] matthewmueller commented on #35
PR to change the default to `127.0.0.1`.

I've created [a discussion](https://github.com/livebud/bud/discussions/42) for changing `--port` to something better. Please share your thoughts there!

[2022-05-15 07:28] matthewmueller commented on #7
Thanks Alex! I *think* I know the problem and it's related to the 0.0.0.0 issue you mentioned earlier. I have 0.0.0.0 hardcoded in a few places, specifically in the hot reload client.

I'm changing the default to 127.0.0.1. PR up here: https://github.com/livebud/bud/pull/41

[2022-05-15 07:42] matthewmueller commented on #27
Thanks @kevwan, I think I'm unable to repro it because either it works on darwin/amd64 or because I'm still on OSX Catalina (v10.15).

After thinking about this some more, I think I'm just going to move the cache and tmp directories into your project's `bud` build directory. I was tempted to do this before to keep everything self-contained, but wasn't sure if I wanted to clutter up the bud directo

[2022-05-15 07:48] matthewmueller commented on #30
the same partition. So rename will work properly.

But wouldn't your app still be on a separate partition? To not end up in weird states, Bud builds into /tmp and then renames the directory into /your_app.

---

I'm tempted to move the cache and tmp directories into your project's bud build directory Most people will .gitignore that directory anyways. I was thinking of doing this earlier to keep e

[2022-05-15 07:49] #35 closed

[2022-05-15 07:54] alecthomas commented on #35
🙏

[2022-05-15 08:01] kevwan commented on #27
I think self-contained is great. I think both clear architecture and better user experience are important.

If we can ship the project with the usage stable for further changes, I'd like to provide better user experience. And we improve the design later. My point is compatibility concern.

[2022-05-15 08:08] matthewmueller commented on #35
FYI. This is available in [v0.1.1](https://github.com/livebud/bud/releases/tag/v0.1.1). To upgrade, run:

[code]

[2022-05-15 08:28] matthewmueller opened #44 "Fix or remove skipped `testdir` tests"
I had to disable two tests:

- https://github.com/livebud/bud/blob/7bcf01d370b93878e22c945a84ca29d8eb7bf9f1/internal/testdir/testdir_test.go#L64
- https://github.com/livebud/bud/blob/7bcf01d370b93878e22c945a84ca29d8eb7bf9f1/internal/testdir/testdir_test.go#L109

to avoid flakiness in CI. The error that occasionally pops up:

[code]

I don't think we'll be using NPM after [v0.3.0](https://github.co

[2022-05-15 08:54] one-aalam opened #45 "Provide a nicer error message for unsupported Go versions"
After creating a fresh project, the command `bud run` fails with import related errors
<img width="851" alt="bud-h" src="https://user-images.githubusercontent.com/532906/168464730-c89625c4-95c2-4fb6-858e-c6df6f3b48aa.png">

Looks like the scaffolded structure is missing some important directories/files, but I'm not sure why that's happening
<img width="846" alt="bud-h" src="https://user-images.git

[2022-05-15 13:08] 012e opened #46 "Error creating new project"
I followed the instruction to install bud, and `bud create app` doesn't work

![bud](https://user-images.githubusercontent.com/98327371/168474836-c4b3221e-7236-46e1-b235-91722779dab9.gif)

- **OS**: Arch linux
- **go**: version 1.18.2
- **node**: v14.19.2

[2022-05-15 13:23] endigma commented on #36
Unless you support markdown source, I'd suggest against it. Some people willing to contribute may not care about sveltekit or react or whatever else is supported, and markdown is more or less the universal language of docs at this point. In addition, readable as plain text.

[2022-05-15 13:24] syke99 commented on #46
This is due to trying to move files across [partitions](https://github.com/wercker/mhook/issues/12#issuecomment-95364232). /tmp/bud-create-<int> Seems to not exist in whichever partition bud is expecting it to be. I’ve not looked at the source code, so not sure what functionality is needed/should be changed. But this should give someone who’s more familiar a good jumping off point

[2022-05-15 13:26] endigma commented on #36
In addition, a lot of pre-existing software exists that supports full text search and static site generation

[2022-05-15 14:04] matthewmueller commented on #36
Docs will be in `/docs` as either markdown, mdx, or potentially https://markdoc.io/. They'll be pre-rendered to either HTML or Svelte before deploying.

[2022-05-15 14:11] matthewmueller commented on #45
Oh, interesting! I guess you're running a version of Go that's less than 1.16? Bud relies heavily on `io/fs` and will take advantage of generics in the future, so I suggest running Go 1.18+ if you can.

That's an awful error nonetheless, I'll improve that. Let me know what version you're running with `go version`.

[2022-05-15 14:35] matthewmueller commented on #46
Thanks for opening this issue and trying out Bud @012e!

As @syke99 mentioned, this is a known issue with partitions. We're already tracking it in https://github.com/livebud/bud/issues/30, where I've written the planned next steps.

I'm going to close this issue as a duplicate of https://github.com/livebud/bud/issues/30

[2022-05-15 14:37] matthewmueller commented on #38
I think this should be solved in [v0.1.1](https://github.com/livebud/bud/releases/tag/v0.1.1). Could you try again?

To upgrade, run:

[code]

[2022-05-15 14:37] matthewmueller commented on #7
So I think the hanging issue should be solved in [v0.1.1](https://github.com/livebud/bud/releases/tag/v0.1.1). Could you try again?

To upgrade, run:

[code]

[2022-05-15 14:47] theEyeD commented on #7
After retrying on the latest version, with the `basic` example, I am still seeing the hanging on changes. The error is logged from `process.Close()` at:
https://github.com/livebud/bud/blob/7bcf01d370b93878e22c945a84ca29d8eb7bf9f1/runtime/command/run/run.go#L86-L89

I was able to get around it by either removing the `return nil` to allow it to proceed or by adding a check for `signal: interrupt` si

[2022-05-15 14:55] 012e commented on #46
This is weird, I didn't put my /tmp in a different partition.

But I do have other un-formatted OS partitions with /tmp folder inside of it.

What `bud create` did to my /tmp folder:
![image](https://user-images.githubusercontent.com/98327371/168479130-61636bf0-9769-4820-9dd2-53af86c4d9a6.png)

![image](https://user-images.githubusercontent.com/98327371/168479171-6fcea2b7-2a8d-49a8-9268-b8b3cc71e3

[2022-05-15 15:07] matthewmueller commented on #46
Hmm, okay. It might be something different then, re-opening.

If you could try narrowing this down in the codebase, that'd be much appreciated. The create logic is in [this package](https://github.com/livebud/bud/blob/main/internal/command/create/create.go) and I created a [Contributing Guide](https://github.com/livebud/bud/blob/main/Contributing.md) today to help people get Bud installed locally.

[2022-05-15 15:24] 012e commented on #46
@matthewmueller I have just done a setup and tried to `go run main.go -C create app`
What happened:
![image](https://user-images.githubusercontent.com/98327371/168480487-a168e81d-80db-4910-8c5c-8a5cd9445762.png)

[2022-05-15 15:26] matthewmueller commented on #7
Thanks for narrowing this down Alex! I just added a PR to hopefully address this. Since you're running Bud locally, do you mind pulling down the PR and confirming? Otherwise, no worries, I'll release a new version after CI passes.

[2022-05-15 15:30] matthewmueller commented on #46
Sweet! From your error it looks like the problem is coming from this code block: https://github.com/livebud/bud/blob/7bcf01d370b93878e22c945a84ca29d8eb7bf9f1/internal/command/create/create.go#L55-L70

Can you confirm?

[2022-05-15 15:34] theEyeD commented on #7
That did the trick. Last thing I'm looking through for WSL is it is currently failing to connect to the hotserver.

[2022-05-15 15:48] matthewmueller commented on #7
Oh, interesting. So you're seeing errors on the client saying unable to connect?

[2022-05-15 15:58] theEyeD commented on #7
Added some details to #48

[2022-05-15 17:03] endigma commented on #36
Agolia is free for OSS, there's also a few go document search libraries

[2022-05-15 17:19] matthewmueller commented on #46
@012e would you mind pulling down the branch in this PR and testing if this fixes your problem? https://github.com/livebud/bud/pull/50

[2022-05-15 17:19] matthewmueller commented on #27
Would you mind pulling down the branch in the following PR and testing if this fixes your problem? https://github.com/livebud/bud/pull/50

[2022-05-15 17:19] matthewmueller commented on #30
Would you mind pulling down the branch in the following PR and testing if this fixes your problem? https://github.com/livebud/bud/pull/50

[2022-05-15 17:31] codevin commented on #30
$ git status
On branch move-build-cache
Your branch is up to date with 'origin/move-build-cache'.

nothing to commit, working tree clean

$ go build
$ ./livebud/bud/bud create ff-app
Module name? (e.g. github.com/me/app) github.com/codevin/featureplus
| rename /tmp/bud-create-2666878416 ff-app: invalid cross-device link

On Sun, May 15, 2022 at 10:49 PM Matt Mueller ***@***.***>
wrote:

[2022-05-15 18:06] matthewmueller commented on #30
Oh right, sorry it's getting late 😅 There's still `$TMPDIR` usage in `bud create`.

[2022-05-15 18:12] one-aalam commented on #45
Hey @matthewmueller Thank you. Bud's running flawlessly with the `golang` upgrade.

[2022-05-15 18:26] cloudlena opened #52 "Include version in released tarball filename to support package managers like AUR"
It would be great to have this repo in the [AUR](https://aur.archlinux.org/) as `bud-bin`. I'm happy to publish it there and maintain it. Or would you prefer to do it yourself?

[2022-05-15 18:30] joshuatalb commented on #45
I was also caught out by this. I've made a small PR (#53) to add a comment in the `README.md` about this.

[2022-05-15 18:31] matthewmueller commented on #30
@codevin Can you pulling the latest on that branch and trying again? I just added https://github.com/livebud/bud/pull/50/commits/b90663032b6f53f140ccaa9242550d9d29cf984e.

[2022-05-15 18:34] matthewmueller commented on #46
@012e Would you mind pulling down the branch in the following PR and testing if this fixes your problem? https://github.com/livebud/bud/pull/50

[2022-05-15 18:41] cloudlena commented on #30
I'm having the same problem with https://github.com/livebud/bud/commit/b90663032b6f53f140ccaa9242550d9d29cf984e:

[code]

For me, `/tmp` is on the same partition as the directory I'm operating in:

[code]

[2022-05-15 18:56] matthewmueller commented on #30
Okay, can you try changing it from an err.Error() equals to a
strings.Contains? The error might include the dir name

I wasn't able to find the error source in Go's codebase.

On Mon, May 16, 2022 at 1:42 AM Lena Fuhrimann ***@***.***>
wrote:

[2022-05-15 19:08] cloudlena commented on #30
Yes, `strings.Contains(err.Error(), "invalid cross-device link")` fixes it :+1:

[2022-05-15 19:37] stefanos82 commented on #36
I came here to ask the same question, more or less.

To be honest with you, Notion behaves...weird, at least in my case.

I try to move the page up or down with my arrow keys, but would insist on following URL TOC type of thing and while I am in the middle of the page, it takes me straight on top which is so darn annoying (excuse my exasperation, but has happened thrice in a row :laughing: ).

It

[2022-05-15 19:40] theEyeD opened #54 "Support other Actions"
Based on the docs:
![image](https://user-images.githubusercontent.com/4244606/168490884-17d7b0ae-7588-483d-bf7e-80876665b101.png)

When adding other actions currently it results in a 404.

[2022-05-15 20:04] theEyeD commented on #54
It looks like it's already attempting to add the route but failing due to uppercase letters being in the route. Forcing the route to lowercase before passing it to `lex.New` resolves the issue:
https://github.com/livebud/bud/blob/c64854dcaaeec778c713eea979a5be13a737ad56/package/router/radix/tree.go#L78

There could also probably be changes made within `lex` to handle it. Let me know if you have a

[2022-05-15 20:10] theEyeD commented on #10
This seems to work for void controllers already. Changing the `Show` in the basic example results in a 204.

However, if the func returns a nil error, it is parsed as a 200. Not sure if it would make sense for void and nil error to parse the same.

[2022-05-15 20:28] theEyeD commented on #54
Just as a side note, keeping the custom (more specific) routes at the top can help prevent conflicting routes. I ran into an issue when having:
[code]
Calling `/test?str=123` resulted in it attempting to route to `Show` and returning:
[code]

However, switching the order of the funcs resulting in both `/test?str=123` and `/123` to work as expected.

[2022-05-16 03:02] TechplexEngineer opened #55 "Add bud new controller <resource> {create,new,edit,update,delete} actions"
Thanks for making bud!

I must be doing something wrong here. I'd like to scaffold create, read, update and delete actions.

It seems like only index and show are implemented, is that correct? (when running `bud new controller ...`

[2022-05-16 04:15] matthewmueller commented on #55
@TechplexEngineer thanks for checking out Bud. You're not doing something wrong!

This is slightly embarrassing, but scaffolding was the last thing I wrote and I was so over keeping bud a secret at that point, that I implemented the bare minimum to record the demo.

Sincere apology for the confusion, I meant to fix this up before anyone noticed.

[2022-05-16 04:22] matthewmueller commented on #54
Oh cool. I think I'd prefer lowercasing in the generator's state and keeping the lexer more strict.

Oh good point , I thought the router was already ready for that though. For example `/test` has priority over `/:id`. Is that not the case?

[2022-05-16 04:38] matthewmueller commented on #52
@cloudlena thanks for the issue. I'd appreciate if you could publish and maintain it. I know next to nothing about Arch Linux other than being happy when it's the base image in a Dockerfile.

One thing, I'll be changing `curl -sf https://raw.githubusercontent.com/livebud/bud/main/install.sh | sh` to `curl -sf livebud.com/install | sh` pretty soon.

Are AUR packages hosted on Github? I'm assuming I

[2022-05-16 04:43] matthewmueller commented on #10
Thanks for looking into this!

Okay, so I think it's a bit more nuanced then. I saw an error when you only have one controller action and that controller action had no results. I think it's an "import is not used" error. Should be pretty easy to fix, just moving an `imports.AddNamed` to a different location in the controller loader.

Yep, I totally think it makes sense for `func (c *Controller) Ac

[2022-05-16 05:03] matthewmueller commented on #36
Yes agreed, it's really bad UX. I'll try and get this done sooner, rather than later!

[2022-05-16 05:08] 012e commented on #46
Still not working, but `bud create app` created an unfinished project like the previous /tmp/bud-create-<num>, probably something is wrong with npm's permissions
![image](https://user-images.githubusercontent.com/98327371/168523129-a8bd512e-4290-4785-b514-b3141333e773.png)

Do you need the log @matthewmueller?

[2022-05-16 05:16] matthewmueller commented on #46
@012e Ah, this is a different error and actually only a problem in the development build, not the production build.

From within the unfinished project directory, please try running the following:

[code]

This should fail in the same way. I guess because of lack of npm permissions. I guess you could fix this with `sudo npm`.

[2022-05-16 05:36] 012e commented on #46
Working perfectly @matthewmueller! BTW,  my default website zoom is 120% and something is off with the css. Was it supposed to look like this?
![image](https://user-images.githubusercontent.com/98327371/168525850-0c59a942-b80d-43f5-8b87-4110db64f248.png)

Closing the issue!

[2022-05-16 05:39] 012e commented on #46
Working perfectly @matthewmueller! BTW, my default website zoom is 120%, and the cards are covering the footer
![image](https://user-images.githubusercontent.com/98327371/168526309-f7087c45-a601-413e-a948-1f59b52b12fc.png)

Closing this issue!

[2022-05-16 05:39] #46 closed

[2022-05-16 06:35] matthewmueller commented on #46
@012e happy to hear! Did the `sudo npm` work for you?

Also created an issue on the welcome page: https://github.com/livebud/welcome/issues/1

[2022-05-16 06:38] #27 closed

[2022-05-16 06:38] #30 closed

[2022-05-16 09:13] cloudlena commented on #52
Thanks, @matthewmueller. It's already done: https://aur.archlinux.org/packages/bud-bin

Please let me know if I should change anything about how it's set up.

[2022-05-16 09:42] 012e commented on #46
That's how I fixed the problem

[2022-05-16 13:02] kevwan commented on #27
I'm still getting this error.

<img width="678" alt="image" src="https://user-images.githubusercontent.com/1918356/168598548-5648315b-5d06-4974-bf9a-052d687ce310.png">

[2022-05-16 13:08] matthewmueller commented on #27
Ah, it looks like you're not on latest. I'm going to create a new release now, hang tight.

[2022-05-16 13:16] matthewmueller commented on #27
@kevwan can you try again on [v0.1.3](https://github.com/livebud/bud/releases/tag/v0.1.3)

[code]

[2022-05-16 13:21] matthewmueller commented on #52
Excellent, thank you @cloudlena!

[2022-05-16 13:22] kevwan commented on #27
Great! It's working now. Thanks!

I guess you updated v0.1.2, but it's cached by CDN.

<img width="315" alt="image" src="https://user-images.githubusercontent.com/1918356/168602235-fef1a643-481a-4b66-82ee-cb1c23e261c9.png">

[2022-05-16 14:46] 012e opened #60 "Proper hot reload message"
Changing a single line of code while running `bud run` generate 4 lines of  `Ready on localhost:3000` but not much useful information.
Is it supposed to work like that or something?

What about mimicking vite's?
![image](https://user-images.githubusercontent.com/98327371/168628662-795536e7-fe88-4ba1-bf49-b2d935e8e88c.png)

[2022-05-16 20:08] cloudlena commented on #52
@matthewmueller, with version `0.1.3` released, I'm having problems with the checksum. I think it's because the package manager doesn't recognize the downloaded as tarball as a new version. Can we include the version numbers in the binaries released in "Assets" here: https://github.com/livebud/bud/releases?

So, for example, call the file `bud_v0.1.3_linux_amd64.tar.gz` instead of `bud_linux_amd64

[2022-05-17 05:20] matthewmueller commented on #60
It's currently working as expected, but I agree that the messaging & error handling needs another iteration. I also like Vite's messaging. The (x2, x3, etc) is super cool! Contributions welcome!

[2022-05-17 05:37] matthewmueller commented on #52
Ah interesting, yes that's totally doable. I actually explicitly removed the versions because it felt redundant with the release version. For example,

[code]

I'll add it back in. This will break old installations, but I think that's okay for the early days.

[2022-05-17 09:16] #52 closed

[2022-05-17 12:01] matthewmueller opened #62 "Plugins that contain controllers don't compile yet"
Given the following plugin with the module path `plugin.com`

[code]

And an application with the following module path `app.com`, if you run `bud build`, you'll get the following:

[code]

While bud has successfully bundled the admin controller into the application, it's messed up the import paths:

- From: `app.com/controller/admin`
- To: `plugin.com/controller/admin`

[2022-05-17 13:03] matthewmueller opened #63 "Plugins that contain views don't resolve yet"
Given the following plugin with the module path `plugin.com`

[code]

And an application with the following module path `app.com`, if you run `bud build`, you'll get the following:

[code]

I assume this error is because ESBuild [doesn't yet support virtual file paths](https://github.com/evanw/esbuild/issues/690), so it's one of the few places in the codebase where we rely on the underlying filesy

[2022-05-17 19:40] Obscurity-Labs-Bot opened #65 "Support React (preferably typescript) for frontend"
I'm particularly partial to https://vitejs.dev/guide/#trying-vite-online for my react projects as the vite runner is "blazingly fast" compared to any alternatives.

[2022-05-17 19:54] sibis commented on #62
@matthewmueller I would like to work on this issue.

[2022-05-17 21:07] thepudds commented on #65
Hi @Obscurity-Labs-Bot, thanks for opening this issue. You probably would also be interested in:

https://github.com/livebud/bud/discussions/8

[2022-05-17 21:16] jmaister commented on #45
It could help that the `cli` checks for the appropriate version of go and exit with a nice message.

Maybe when running on Windows, I also read in other issues that there are problems with it too.

[2022-05-17 21:29] djboboch commented on #38
I can confirm `bud create` now works with WLS2. I am closing the issue.

[2022-05-17 21:29] #38 closed

[2022-05-17 22:11] djboboch commented on #36
I recommend using https://squidfunk.github.io/mkdocs-material/

It is a theme for mkdocs that has many features build it, some include:

- Diagrams using mermaid.js
- Various formating
- Visual enhancements for better readability

There is more in the [reference](https://squidfunk.github.io/mkdocs-material/reference/)

The package builds with one command and can be deployed easily to github pages

[2022-05-18 05:28] matthewmueller commented on #45
Agreed. Accepting PRs!

[2022-05-18 05:32] matthewmueller commented on #62
Go for it! Let me know if you get stuck anywhere and I can try to help.

It's going to be a bit tricky because the virtual filesystem is at a lower-level than the generators, but the generators will somehow need to be able to resolve that import. I'd probably either trying to fix resolution in the `gomod` package.

[2022-05-18 07:46] matthewmueller commented on #65
Thanks @Obscurity-Labs-Bot for your interest in Bud! Closing in favor of #8

[2022-05-18 07:46] #65 closed

[2022-05-19 00:17] theEyeD commented on #10
So I did a bit of playing around with different void scenarios, and the only scenario I found that didn't work was having a void action tied to a view. It resulted in:
[code]

Both of these are fixed in #68

[2022-05-19 06:22] one-aalam opened #69 "Add Example: With DI"
Bud's impressive and I understand it's just `0.1`, so it would be highly ambitious(and very, very early) to expect a very good documentation, blog and example ecosystem. But, just to give it a consideration as a very low priority task - _will it be possible for you to consider adding an example with DI(Env, DB, etc.)_ ? I'm not a seasoned Go dev, and I think seeing a good example with DI can help

[2022-05-19 08:28] matthewmueller commented on #69
Thanks for opening this issue @one-aalam! I'll definitely need to add more examples.

Did you see: https://www.notion.so/Hey-Bud-4d81622cc49942f9917c5033e5205c69#976e4b0666f34d5eae6ccbce93111025? Could I improve the example in there?

One more example I can share now:

In [the demo video](https://youtu.be/LoypcRqn-xA?t=245), I show, but don't explicitly mention the dependency injection.

That `*ha

[2022-05-19 09:44] #54 closed

[2022-05-21 10:18] iAziz786 opened #76 "I wanna give my time to this project."
Hi @matthewmueller, I was thinking of creating a Django like framework in golang too. I came across your project and it has almost everything that I was looking for.

- Go
- Svelte
- Simplicity

I would like you to know I will be happy to help this project grow. Please do let me know what helps do you need.

[2022-05-21 11:30] 012e commented on #76
@iAziz786 You can ask questions like this on the [Github Discussions](https://github.com/livebud/bud/discussions). Just to avoid noises.

[2022-05-21 11:55] iAziz786 commented on #76
Oh, apologies. Closing the issue then.

[2022-05-21 11:55] #76 closed

[2022-05-21 14:25] TechWilk opened #78 "program: unable to wire > di: unable to find definition for param"
I've just been attempting to try out bud, but ran into issues before I could get going.
Granted, I've not got far into learning Go, I thought bud would help to give me a gentler start to creating a web app, so I may be missing something that is considered "basic Go knowledge".

I've followed your example to get going:
* curl -sf https://raw.githubusercontent.com/livebud/bud/main/install.sh | sh
*

[2022-05-21 14:26] TechWilk commented on #78
[code]

[2022-05-21 15:03] matthewmueller commented on #78
Sorry for the trouble @TechWilk! Let me look into it.

Two questions if you're around:
- What OS are you running?
- Are you installing into $GOPATH or somewhere else on your machine?

[2022-05-21 15:10] matthewmueller commented on #78
Okay, so I just ran the steps you outlined and it's working correctly for me. However, if I manually delete the runtime

[code]

I'll get the same error you're seeing:

[code]

One thing that's odd in your error:

[code]

Any idea why there's a colon? Can you confirm that the following directory exists? `/home/user/code/go/pkg/mod/github.com/livebud/bud@v0.1.4`

[2022-05-21 15:25] matthewmueller commented on #76
@iAziz786 thanks for your interest in the project! As @012e mentioned, we'll typically have these types of conversations in Github discussions, but I'm glad to see you here!

My suggestion for getting involved would be just to start using the framework. Since it's early days, you're going to run into issues. And when you do, you can open bug reports and try to fix those reports. I'm available for

[2022-05-21 16:03] TechWilk commented on #78
Thanks for your quick response!

1. I'm running Debian 11
2. I think it's in GOPATH

[code]

Ah ok, so that reminds me... the first time I was playing with Go the getting started guide I used recommended splitting the GOPATH so that your own projects lived in a separate dir to all the imported modules. e.g. you work in `/home/user/code/go` but `go get` puts stuff in the first directory, in this ca

[2022-05-21 17:13] matthewmueller commented on #78
Woah, I had no idea this was possible. I guess it makes sense, `$GOPATH` is just like `$PATH`. Yep, I'm pretty sure that's the problem! I'll try and come up with a solution. In the meantime, does the following work?

[code]

[2022-05-21 17:58] TechWilk commented on #78
Yes as far as I know that's correct. There's a bunch of stuff in there
[code]
Thanks! `GOPATH=/home/user/go bud run` works great!

I don't remember which guide off the top of my head. I'll try and dig it out for you.
It's worth noting that I certainly don't know enough at this point to be able to differentiate between if is in fact a good practice, or, like anything on the web, just a random opini

[2022-05-22 05:06] matthewmueller commented on #55
The PR has been started in #75

[2022-05-22 12:21] syke99 commented on #78
It's a bit old, but [here](https://stackoverflow.com/questions/36017724/can-i-have-multiple-gopath-directories) is a a SO post (that's admittedly a bit old) that has some good links about multiple GOPATHs and why you'd use them.

I'm also really interested in this issue, so I'm currently researching solutions

[2022-05-22 12:26] syke99 commented on #78
@matthewmueller I think I might have found a solution, but it seems there are different solutions for Go1.17 and Go1.18. I *think* that the 1.17 solution will work with 1.18, but I'm not 100% certain. I'm running 1.18 locally, though, so I can test that out

[2022-05-22 12:43] syke99 opened #79 "Error with NPM When Running make install During Contribution Set-Up"
I've been extremely impressed by and interested in but (great work @matthewmueller!!) and I wanted to begin contributing to an interesting bug that I saw in the issues. So I cloned bud and was following the instructions in [Contributing.md](https://github.com/livebud/bud/blob/main/Contributing.md), but I ran into an error when running make install.

OS: Windows 10
Go Version: 1.18.2
Node.js Versio

[2022-05-22 13:11] matthewmueller commented on #79
Thanks for the kind words Quinn! Does running `npm` standalone work for you?

I'm not a windows user, so there's a good chance I'm doing something wrong. That would be something that would be super helpful to contribute! 😇

[2022-05-22 13:14] matthewmueller commented on #78
Awesome, I also got some feedback from the Go community on Twitter:

I thought this would be a fairly simple solution, split on `:`, and choose the first one to find the runtime.

@syke99 what are you encountering that leads you to believe there's different solutions for 1.17 and 1.18?

[2022-05-22 13:18] syke99 commented on #79
You're super welcome!! Keep up the great work!! And yes, running `npm` works as expected. I also updated npm itself to 8.10.0, but I'm still getting that error 😢

[2022-05-22 13:25] syke99 commented on #78
Yeah, I was going to mention that it seems to be a bit outdated of a practice. But what I found that leads me to believe the solution would be different is how you go about getting the GOPATH in 1.17 vs 1.18.

1.17: `gopath := os.GetEnv("GOPATH")`

1.18: `gopath := build.Default.GOPATH`

after closer examination, you can still use `gopath := os.GetEnv("GOPATH")` in 1.18, but it seems that it's bei

[2022-05-22 13:29] syke99 commented on #79
Ahh yeah, I forgot about that. Thanks @012e. That's most likely the issue @matthewmueller

[2022-05-22 13:46] syke99 commented on #79
@012e yeah, let me give that a shot!

[2022-05-22 14:03] syke99 commented on #79
Yeah, I used Chocolatey to download and install `make` on Windows. So that's probably the issue. I also saw in the Makefile that v8go isn't supported yet, so that will be an issue. But I'm still pressing forward because I'm going to compile a list of changes that will be needed to support Windows development, (some of which can already be made and *shouldn't* break anything and I can test that thr

[2022-05-22 14:41] #10 closed

[2022-05-22 14:48] matthewmueller commented on #79
Accepting PRs! One reason I used `(cd livebud && npm install)` was to make sure the next command isn't inside `livebud/`, is there a way to do that in a Makefile on Windows? Otherwise we can do `cd ..` after.

[2022-05-22 15:03] syke99 commented on #79
I made one small change in `package/socket/child.go` that's specific to Windows development that's ready to be merged in. But should I create another branch, or do you want me to fork bud and submit a PR that way? (Something that should probably be added to [Contributing.md](https://github.com/livebud/bud/blob/main/Contributing.md) 😉 )

Also, I'm not sure about if there's a way to do that in a Mak

[2022-05-22 15:16] syke99 commented on #79
Also, it looks like Windows support of v8go is [completed](https://github.com/rogchap/v8go/issues/7#issuecomment-746666956) @matthewmueller could you possibly enlighten me on what v8go is and how's it's being implemented? I see that it's looking for, but not finding, `-lv8`. But I haven't looked through the source code enough to see where this is being implemented, so thought maybe you'd have a go

[2022-05-22 16:12] syke99 commented on #79
I've opened [this](https://github.com/livebud/bud/pull/80) PR for this issue. I'll make a discussion about Windows development support to discuss the other issues 😋

[2022-05-22 17:23] iAziz786 opened #82 "Nested view URL don't prefix the URL with the nested route"
I created nested views with running the command.

[code]

It generated the files fine but when I opened the `/post` URL, the `td` element didn't include prefix the URL with the `/post` instead it relative to the root.

<img width="1450" alt="image" src="https://user-images.githubusercontent.com/17024120/169707563-cbe3d853-53be-47f7-b155-46966da05632.png">

<img width="1494" alt="image" src="https:

[2022-05-23 05:48] matthewmueller opened #83 "Cryptic panic when livereload port (35729) is already in use"
There's a couple issues here that need to be fixed:

1. For some reason the hot reload port wasn't released, despite the application port being released. I'm not able to reproduce this behavior at the moment, so let's just keep an eye on it for now.
2. Nil pointer panic on *exe.Close
[code]

   The problem is that `process` is nil for some reason when calling the following: https://github.com/live

[2022-05-23 06:37] matthewmueller commented on #82
Good catch! Just opened a PR: https://github.com/livebud/bud/pull/84

[2022-05-23 06:41] matthewmueller commented on #7
Since this issue has kind of meandered, I'll close it in favor of: https://github.com/livebud/bud/discussions/81

[2022-05-23 06:41] #7 closed

[2022-05-23 06:45] matthewmueller commented on #78
I'm pretty sure `build.Default.GOPATH` is available pre 1.18, since I've been using it since at least 2017: https://github.com/matthewmueller/joy/blob/e60ec6cf98bbbf7935742e6882fa3d33cadc6a78/internal/mains/mains.go#L32

I'd suggest we use that unless there's good reason not to and then:

[2022-05-23 12:33] TechWilk commented on #78
Right, that makes a lot of sense. I must have been following a pre-modules guide. (bonus, I've now learned about modules!)

According to one of the answers on @syke99's [SO link](https://stackoverflow.com/a/36017836) it's worth noting that the delimiter in $GOPATH is OS-specific, so just splitting on `:` sounds like it wouldn't be suitable for windows
[code]

[2022-05-23 13:20] syke99 commented on #78
Ahh yeah, I forgot to mention that. Thanks @TechWilk!! depending on how you want to implement a fix, you could simply run a check for the value of the env variable GOOS like so:
[code]

[2022-05-24 04:19] matthewmueller commented on #78
[os.PathListSeparator](https://cs.opensource.google/go/go/+/refs/tags/go1.18.2:src/os/path_unix.go;l=11) does this already. Let's try to lean into Go's standard libraries as much as we can. This will help us on the path to cross-platform compatibility.

[2022-05-24 08:21] syke99 commented on #79
Yeah, I got MinGW’s make to work and it’s added to my list of steps for setting up Windows development that I’m gonna but in a markdown file and put up a PR for whenever my other PR gets approved so I can make another fork

[2022-05-24 13:05] 012e commented on #79
Uh, @syke99 you can just make a branch to push changes, doesn't need to be main.

[2022-05-24 14:48] 012e opened #87 "Weird behavior while logging blank exports (Svelte)"
## Reproduce

1. Create a project normally
2. Create any route

[code]

3. `bud run`
4. Add `console.log(hellos);` in the script tag (index.svelte)
5. Go to http://127.0.0.1:3000/ and we will see an error message. For the first time:

[code]

- Reload. For the second time:

![image](https://user-images.githubusercontent.com/98327371/170062399-757053e4-4c85-462e-a020-a76d26540451.png)

- What the t

[2022-05-25 06:30] matthewmueller commented on #87
Thanks for reporting @012e! I haven't confirmed but I can see how this could be an issue. Can you quickly test if this occurs on an app generated with `bud build`?

[code]

I'm going to assume that the above works as expected.

I believe the problem is two-fold:

1. [console.log to stdout support](https://github.com/livebud/bud/blob/5a654b700d694dc886b4f6f113e8e33b0dd88f34/package/js/v8/v8.go#L40-

[2022-05-27 04:03] forging2012 opened #90 "../../../go/pkg/mod/github.com/livebud/bud@v0.1.4/package/scaffold/template.go:28:8: undefined: any"
[code]

[2022-05-27 06:12] matthewmueller commented on #90
Oh wow, looks like an `any` snuck in there, thanks! I'll setup CI to catch this.

[2022-05-27 16:43] forging2012 commented on #90
[code]

[2022-05-27 16:56] forging2012 commented on #90
[code]
It works~!

[2022-05-28 02:19] huqiuyun opened #91 "run error"
Hello, After I bud build the project, I remove the *.go and go.mod source files. run ./bud/app in the terminal, but it output the error: unable to find go.mod: file does not exist in "/Users/Works/news"

---- for exmaple input the command in the terminal
news % ./bud/app
unable to find go.mod: file does not exist in "/Users/Works/news"

Why the app is running and it needs to depend go.mod?

[2022-05-28 04:32] ldlac commented on #87
Not sure if it's related but `localStorage`, `window`, `document` or `setInterval`, etc have a weird behavior too.

[code]

when wrapped inside a `if (typeof document != "undefined")` or anything that v8 will appreciate, everything is fine, `console.log` included

[2022-05-28 05:10] matthewmueller opened #92 "Support `setInterval`"
Not sure if it's related but `localStorage`, `window`, `document`, `setInterval`, etc have a weird behavior too.

[code]

when wrapped inside a `if (typeof document != "undefined")` or anything that v8 will appreciate, everything is fine, `console.log` included

_Originally posted by @ldlac in https://github.com/livebud/bud/issues/87#issuecomment-1140170072_

[2022-05-28 05:10] matthewmueller commented on #92
Hey, thanks for pointing this out @ldlac. I definitely need better docs here, but views are server-side rendered with V8, the hydrated on the client, so your top-level statements in Svelte have the same restrictions as you would have in SvelteKit, Next.js, etc.

The difference is that they use Node.js to do SSR, so it has things like `setInterval`, while Bud uses V8. So TL;DR:

- localStorage, win

[2022-05-28 05:11] matthewmueller commented on #87
Hey @ldlac, I just moved this comment into a separate issue. Please have a look at my response there! I'm going to hide your comment since I'd like us to chat about it in that issue!

[2022-05-28 05:14] matthewmueller commented on #91
Hey @huqiuyun thanks for trying out bud! You'll need to run `bud build` to make `./bud/app` self-contained.

The `./bud/app` built with `bud run` indeed relies on `go.mod` because that's the development build.

[2022-05-28 05:15] matthewmueller commented on #90
@forging2012 glad to hear you got it working. I'm surprised `GO111MODULE=on` was not the default for `Go 1.18`. Are you explicitly overriding that in your dotfiles or something?

[2022-05-28 06:19] 012e commented on #91
I tried and got the same issue
![image](https://user-images.githubusercontent.com/98327371/170813092-81596aa9-8ba8-4955-8dcd-e52371dcff5d.png)

[2022-05-28 07:57] matthewmueller commented on #91
I just tested and I'm also able to reproduce this. Sorry for the confusion!

The problem is here: https://github.com/livebud/bud/blob/9e9272f37f0a480e354f066a860df06298365dca/runtime/generator/program/program.gotext#L36-L41

When the `Embed` flag is true, we'll just need to embed the go.mod as a string and use `gomod.Parse` instead of `gomod.Load`

[2022-05-28 11:36] huqiuyun commented on #91
Thanks, new go.mod file, and it is empty, the app is running too.

[2022-05-28 11:42] huqiuyun commented on #91
Create a new empty go.mod file, the app can run too.

[2022-05-28 17:21] matthewmueller commented on #91
Yep, pretty sure the contents of the `go.mod` don't matter after `bud build`, it's just needs a placeholder for `*gomod.Module`.

[2022-05-28 19:30] kishorevaishnav opened #94 "Removals & renames don't trigger a recompile"
Hi @matthewmueller, First of all, Thanks for building this bud !!

I thought of learning this by giving a try, so here is an understanding question:

So, I was able to install the bud, create the app, was able to see bud home page with the nice splash. Now I tried this command `bud new controller photos show index` and then was able to see the index page in the browser with the nice title. All goo

[2022-05-28 20:00] kishorevaishnav commented on #94
Never mind - I was able to find the bud directory. Ignore this issue.

[2022-05-29 01:30] TechplexEngineer opened #97 "bud tool cache clean vs bud tool cache clear"
Notion docs show
[code]
cli uses `clean` instead of `clear`
[code]

[2022-05-29 07:33] huqiuyun commented on #91
Please if publish it to online environment，what I need to do? do I need to publish the app and go.mod?

[2022-05-29 11:30] matthewmueller commented on #97
Thanks for the heads up Blake! This has been fixed in docs.

[2022-05-29 11:30] #97 closed

[2022-05-29 11:31] matthewmueller commented on #91
@huqiuyun right now the workaround is to create a `go.mod` from the directory where you run `./bud/app`.

[2022-05-29 13:54] matthewmueller commented on #94
Hey thanks, for the issue, I'd like to re-open this because I also noticed this bug recently. The watcher should be able to notice file removals / renames and re-compile

The workaround right now is to remove the bud directory and restart bud.

[2022-05-29 16:05] joesamcoke opened #101 "Too many return values error on loadController()"
Hi, Firstly this project looks great. Really looking forward to working with it.

Getting the error...

bud/.app/controller/controller.go:133:15: too many return values
        have (nil, error)

Looks the loadController() is missing a return error definination

`func loadController() *controller.Controller {
	controllerController, err := controller.Load()
	if err != nil {
		return nil, err
	}
	re

[2022-05-29 16:05] forging2012 commented on #90
[code]

When I run:
go env -w GO111MODULE=on
bud run
| Listening on http://127.0.0.1:3000
It works for me ~!

[2022-05-29 17:51] matthewmueller commented on #101
Hey @joesamcoke, thanks for giving bud a try! Can you share what you wrote in your controller/ directory?

[2022-05-30 06:24] mystique09 opened #102 "Linux/arm64 platform support"
I tried running the installer in Termux, please add termux support XD.

[code]

[2022-05-30 06:58] matthewmueller commented on #90
Hmm, I'm not able to reproduce the `GO111MODULE=on` requirement. A couple questions:

1. What do you get when you run `go env GO111MODULE`?
2. What does `ls hello-bud` show?

[2022-05-30 07:02] matthewmueller commented on #102
Thanks @mystique09, this should be pretty simple.

Changes needed:
- Update Makefile release script to include linux/arm64
- Update install script
- Update CI to test this platform

Here's an example of getting it working with darwin/arm64:
- https://github.com/livebud/bud/commit/00b5fae20e9ca1fb2f5ff3fa72912e3460fd9d7c
- https://github.com/livebud/bud/commit/6669144024f607f8838905078313e817401f08

[2022-05-30 07:03] matthewmueller commented on #102
_(Converting to a discussion since this is currently working as expected)_

[2022-05-30 09:32] joesamcoke commented on #101
eek, ok that's done

[2022-05-30 09:51] matthewmueller commented on #101
Ah interesting, let me try to reproduce this!

[2022-05-30 10:01] matthewmueller commented on #101
Yep, confirmed the issue. I'll get this fixed!

[2022-05-30 10:39] forging2012 commented on #90
[code]

[code]

[2022-05-30 10:59] zoulux opened #106 "So how do I debug the project"
So how do I debug the project?

[2022-05-30 11:48] Pubg887 commented on #101
Jj

[2022-05-30 12:12] matthewmueller commented on #101
Accident?

[2022-05-30 19:57] felipebueno commented on #106
I'd love to have an example of a ```launch.json``` for Visual Studio Code :grin:

[2022-05-30 23:35] lucky-bit opened #108 "Dynamic route does not support . (dot)"
1. Define get route:
  router.Get(`/:id`, controller.Show)
2. Define id as string
 // Show page
 // GET /:id
 func (c *Controller) Show(ctx context.Context, id string) (story *Story, err error) {
3. Navigate to http://127.0.0.1:3000/some.value
===> 404 page not found

[2022-05-31 01:54] matthewmueller commented on #108
Thanks for trying out bud @lucky-bit!

I'd like to add support for this, but it will be more about specifying a file format, e.g. `http://127.0.0.1:3000/some.json` or `http://127.0.0.1:3000/some.rss`. Does that work for your use case?

One other question:

I'm assuming you defined this in the `controller/` package or did you use the router package manually?

[2022-05-31 02:22] lucky-bit commented on #108
Hey @matthewmueller!
Unfortunately file format and triggering action won't cover my case.
I would like to present order details according to provided order id such as xyz.01234567 by visiting http://127.0.0.1:3000/xyz.01234567.

No manual work, route created using _bud new controller_

[2022-05-31 22:33] matthewmueller commented on #108
Ah, that's an interesting one. At first glance, I'd probably follow what Rails decided to do here. Maybe that means defining a custom route.

[2022-05-31 23:10] nikolay opened #110 "Installation via Homebrew"
Many of us try to keep off software installed via `curl | sh`.

[2022-06-01 00:45] matthewmueller commented on #90
Okay cool, and I'm tracking `undefined: any` elsewhere. We'll confirm the fix in https://github.com/livebud/bud/pull/95, so I'm going to close this one.

[2022-06-01 00:45] #90 closed

[2022-06-03 17:30] donovanrost opened #119 "[ERROR] Could not resolve "svelte/internal""
I'm following along the HackerNews video and am encountering build issues.
I'm performing the following steps
[code]

When I go to the webpage I'm given the following error

[code]

Here are some details about my environment
[code]

[code]

[2022-06-03 17:46] matthewmueller commented on #79
Closing in favor of the Window discussion

[2022-06-03 17:46] #79 closed

[2022-06-03 17:49] matthewmueller commented on #119
Thanks for trying bud @donovanrost!

That's odd! Can you verify that you have `node_modules/svelte` in your `bud-test` directory? What OS are you on?

[2022-06-04 03:52] matthewmueller commented on #44
These are now back

[2022-06-04 03:52] #44 closed

[2022-06-04 03:53] matthewmueller commented on #94
I'm hoping this is fixed by #123. I'll close and we can re-open if we encounter this again.

[2022-06-04 18:55] matthewmueller opened #124 "Unable to live reload after SSR error"
Currently when there's a server-side rendering error, that you subsequently fix, you'll need to refresh the page again. This is likely because the event source isn't hooked up to that error yet.

Steps to reproduce:

1. Create a view with an error

[code]

2. Make a change to the controller:

[code]

And you'll see something like `ReferenceError: a is not defined` in the browser. Even if you fix t

[2022-06-04 19:37] matthewmueller opened #125 "Update the runtime on existing projects for new versions of bud"
In v0.1.5, there were some breaking changes to the runtime. If you had an existing application and ran `bud run`, you'd get the following error:

[code]

To fix this, you'll need to run `go get -u github.com/livebud/bud@v0.1.5` to get the current runtime.

The runtime and the CLI are designed to be in lockstep with each other. The CLI should check and update the runtime when it's out of step.

[2022-06-04 20:59] #94 closed

[2022-06-04 21:07] #125 closed

[2022-06-05 05:48] 012e opened #129 "Unexpected `fmt.Println` behavior on non-change hot reloads"
### Reproduce
1. Create a project normally
2. Create any route `bud new controller hello:/ index`
3. Add `fmt.Println("anything")` in the controller
[code]
4. `bud run`
Every time I save my controller.go file, no `Hello world` message is printed.
5. Go to http://127.0.0.1:3000
We will see `Hello world` message prompted in the terminal. **Don't change anything** and save one/multiple times controll

[2022-06-05 06:50] zhenfeng-zhu opened #130 "does it support windows?"
when i run this command in windows11's terminal:

curl -sf https://raw.githubusercontent.com/livebud/bud/main/install.sh | sh

sh: uname_os_check: internal error 'MINGW64_NT-10.0-25115' got converted to 'mingw64_nt-10.0-25115' which is not a GOOS value. Please file bug at https://github.com/client9/shlib

Will it suport windows?

[2022-06-05 10:02] 012e commented on #130
Currently, there is no Windows support, only WSL. A discussion for native Windows support has already started [here](https://github.com/livebud/bud/discussions/81).

[2022-06-05 16:10] matthewmueller commented on #130
@012e is right, there's only WSL support at the moment.

Interesting, the installer definitely should have picked up on this! Repurposing this issue to get that fixed.

[2022-06-05 16:18] matthewmueller commented on #129
Thanks for opening this @012e, I just tested it. I don't think it's a bug. Here's what's happening:

Every time I save my controller.go file, no Hello world message is printed.

There are no requests being made to `/`, so the controller is not running and no `fmt.Println` is being printed out.

We will see Hello world message prompted in the terminal. Don't change anything and save one/multiple ti

[2022-06-05 16:18] #129 closed

[2022-06-05 16:19] matthewmueller commented on #119
Ping @donovanrost

[2022-06-09 19:24] donovanrost commented on #119
I did not have `node_modules/svelte` in my `bud-test` directory. `npm install` fixed the issue    🤦

[2022-06-09 21:10] donovanrost opened #134 "View receiving empty objects"
I have made a new controller user `bud new controller users index show`. This scaffolded the controller and view as expected.
I then modified the controller to :
[code]

When I go to `http://127.0.0.1:3000/users`, I only see the scaffolded header "User Index". Unsure of what what happening, since the table wasn't displayed, I added another header:
`<h1>{JSON.stringify(users)}</h1>`  to inspect the

[2022-06-10 07:09] 012e commented on #134
You forgot to export your struct fields 👀

[2022-06-10 15:14] donovanrost commented on #134
@012e thank you! I'm learning Go on the fly. I really appreciate your help

[2022-06-10 15:14] #134 closed

[2022-06-10 19:16] donovanrost opened #135 "Trouble with nested routes"
I ran:
[code]

This laid out out the appropriate controllers in the /controller directory. However, I'm getting an error

looking at bud/.app/controller/controller.go, we can see that `bud-test/controller/associations/academies` is imported at as `academies1` but that import isn't used. I can't delete it because the framework automatically generates it again.

Is there a correct way to create nest

[2022-06-11 15:01] matthewmueller commented on #135
Hey @donovanrost! I just tried running those commands and unfortunately I'm not able to reproduce the error you mentioned above.

Can you share what's in your `controllers/` directory. I bet that will point to the root case?

[2022-06-11 15:46] matthewmueller commented on #134
Yah, I suppose this might not be obvious. I took a note to add something in the docs.

[2022-06-11 16:05] matthewmueller commented on #119
I'm still surprised this happened. It should be installed automatically. What OS are you running @donovanrost?

[2022-06-11 16:29] donovanrost commented on #135
I just created a new project and ran those generators to reproduce.

Under `controllers/` I have:
  - `academies/controller.go`
  - `associations/controller.go`
  - `associations/academies/controller.go`

I'm not sure what you mean by:

[2022-06-11 17:29] matthewmueller commented on #135
Hmm, okay. Can you try again and make sure you're on the latest? If you're able to reproduce, please post exact steps.

[code]

I also just ran those 3 commands:

[code]

But it was working for me when I ran `bud run`.

[2022-06-11 18:13] donovanrost commented on #135
@matthewmueller I emailed you a video of me reproducing the issue. I hope that's ok

[2022-06-12 06:57] 012e commented on #135
I got the same issue on linux
[code]

[2022-06-13 06:59] matthewmueller commented on #135
I'm able to reproduce this now! Definitely a bug.

The problem is that the following should refer to `academies1`, not `academies`.

[code]

This happens because these generated functions are unaware of previous functions. The previous function is already using the acadamies package, so this one needs to use the academies1 package.

I think the solution is to allow the dependency injection provide

[2022-06-13 21:37] donovanrost opened #137 "Unused import error in generated controller"
I'm attempting to implement persistence. So I create a new folder `models`. Write a struct. Update the controllers to use that new struct instead of the autogenerated one. Then run `bud run`. But bud errors out with
[code]

I don't think that bud needs to do any code generation with this package. Is there a way to tell bud to ignore it?

[2022-06-15 22:58] matthewmueller commented on #137
@donovanrost this should work, did you remove the `Controller` struct as well?

Here's a working example:

**controller/controller.go**

[code]

**model/post/post.go**

[code]

[code]

[2022-06-15 23:05] matthewmueller opened #138 "Renaming or deleting views should trigger a recompile"
Given the following file directory:

[code]

If you try renaming `show.svelte` to `_show.svelte` while running `bud run`, the change doesn't register.

This is because bud currently treats all view changes as incrementally reloadable, but in this case, we need to regenerate the controller.

Renames and deletes of views should trigger a full-page reload.

[2022-06-17 04:04] vito commented on #137
Hiya, I ran into this same issue because my controller didn't have the package as a dependency. I had my models a `models` package (mostly generated by `xo/xo`) and my db dependency in another (`*db.DB`), so it was possible for me to use the models with the database in valid Go code but because none of the generated code actually mentioned the package by name the import would be unused.

Moving th

[2022-06-17 05:27] matthewmueller commented on #137
Hey @vito, thanks for letting us know. I'm having trouble understanding the setup though.

Can you share some code?

If I'm understanding correctly, `$APP/controller` never imported `$APP/model`, but `$APP/bud/.app/controller` imported `$APP/model` and then reported it unused?

Or in diagram form something like this?

[code]

If so, I don't understand how `$APP/bud/.app/controller` would know abou

[2022-06-17 05:38] vito commented on #137
Sorry for not including code. :) It's late here and the broken code is a few iterations in the past without any of this committed yet. I'll circle back and add a repro if this clarification doesn't help:

The controller imported both `$APP/model` and `$APP/db`, but only used `$APP/model` in the action implementations, and didn't reference it as a controller dependency. The generated `$APP/bud/.app

[2022-06-17 19:14] donovanrost commented on #137
@matthewmueller Your example definitely worked. Thank you so much for that. I think the issue came from not specifying my package as a dependency.

[2022-06-17 23:12] matthewmueller commented on #137
Hey @vito, thanks for your response. I'm probably just being slow, and I think I understand the confusion where the generated code is throwing an error when the hand-written controller code is perfectly fine, but I'm having trouble reproducing this case.

I pushed up my attempted reproduction to Github: https://github.com/livebud/issues/blob/main/137/controller/controller.go

Maybe you could have

[2022-06-18 13:40] vito commented on #137
@matthewmueller Ah ha, thanks for starting on that before I could get back to it, I was able to whittle your example down and get it to fail by comparing to my branch.

It's actually much simpler: if the return type of an action contains a field from a package, the package ends up imported for some reason. I submitted a PR to update the repro: https://github.com/livebud/issues/pull/1

[2022-06-19 22:49] matthewmueller commented on #137
Ooo. I see the problem now. I'll get this fixed soon!

[2022-06-20 06:05] 012e opened #144 "Should not be able to create routes with name begin in number"
When we create a route with a number at the beginning
[code]
The controller is not generated but the view is.
[code]
Result in
[code]

[2022-06-20 19:44] donovanrost opened #145 "[Question] Since main.go is generated, where should initialization logic be performed? i.e. setting up a database"

[2022-06-21 08:15] 012e commented on #144
No it doesn't work, just `404 page not found`

[2022-06-23 10:17] 012e opened #149 "Can't create routes named `index`, `show`"
# Reproduce

1. Create a new project `bud create project`
2. Create a root route  **(important)** `bud new controller anything:/ index show`
3. `bud new controller index` or `bud new controller show` (with or without views)
4. `bud run` will give an error:
[code]

[2022-06-24 00:50] matthewmueller commented on #149
Thanks for the report @012e! That's strange, but I'm not too surprised since it's untested. Just want to double-check. The `1/` directory isn't related to #144 right?

[2022-06-24 04:06] 012e commented on #149
Yes, `1` is just the module name.

[2022-06-25 15:16] vito opened #151 "`bud run` doesn't propagate environment variables"
👋 Noticed when running my app with `bud run` it only runs it with a specific set of env vars. This is an issue for me because I use env vars to pass config along.

I'm guessing this comes from here:

https://github.com/livebud/bud/blob/f4f29bbb69ae571312295ca80d7e1261a0ec8e48/internal/cli/cli.go#L57-L63

https://github.com/livebud/bud/blob/f4f29bbb69ae571312295ca80d7e1261a0ec8e48/internal/cli/cli.

[2022-06-25 20:35] matthewmueller opened #152 "`bud run` stdout/stderr improvements"
Jotting down a quick list of improvements to make to `bud run`'s terminal logging. @012e brought us a big step forward in terms of DX with #131, but there's a few loose ends left to cleanup:

- [ ] Frontend reloads always show 0ms. This one is tricky to time because the start is in the app server, the end is in the bud dev server. The way frontend reloads work is they just send a signal to the fro

[2022-06-26 04:54] 012e opened #153 "Can't create view-less routes"
# Reproduce

1. Create a project `bud create project`
2. `bud new controller anything` (create new route without any views)
3. `bud run` will give an error:
[code]

But when I create a project, before step 2, if I add a route with a view `bud new controller hello index`, there will be no error.

[2022-06-26 04:55] 012e commented on #149
My previous report was wrong so I rewrote it

[2022-06-26 23:44] matthewmueller commented on #153
Hah, I hadn't considered the empty case. In general, I find this API confusing. What do you think about: https://github.com/livebud/bud/discussions/143#discussioncomment-2994918?

[2022-06-27 04:27] #151 closed

[2022-06-27 04:50] #137 closed

[2022-06-27 05:23] #101 closed

[2022-06-27 05:50] #87 closed

[2022-06-27 06:17] #91 closed

[2022-06-27 06:37] matthewmueller commented on #144
Need to think more about this one.  Can you explain why you want this @012e?

It's definitely possible to have **controller/1/controllers.go**, with the following:

[code]

But the package `/1` isn't really resourceful and can be easily mistaken with an id.

I think I'd prefer to handle this in custom routes.

[2022-06-27 06:41] matthewmueller commented on #149
Thanks! I can reproduce this one. Are you blocked by this one @012e? I may bundle this one together with reworking the controller generator to be middleware.

[2022-06-27 06:50] #135 closed

[2022-06-27 06:53] matthewmueller commented on #83
Not sure if this is still an issue anymore in v0.1.9

[2022-06-27 07:10] #153 closed

[2022-06-27 17:21] wasd52030 opened #166 "Can't create project"
when i create a project named abc,then output these message

How to fix?

[2022-06-27 17:44] hsli2020 commented on #166
I have same issue

[2022-06-28 03:02] #166 closed

[2022-06-28 05:21] matthewmueller opened #170 "Request mapping on nested routes"
Given the following comments controller in **controller/posts/comments/controller.go**:

[code]

And the following request `GET /posts/10/comments`. The resulting request map from this request is:

[code]

Unfortunately, that doesn't line up with `PostID`. Either:

1. The request map would be `{ "PostID": 10 }`
2. Or the PostID field has a `json:"post_id"` struct tag.

This isn't too obvious. I th

[2022-06-28 05:47] matthewmueller opened #171 "Required controller input validation"
Given the following **controller/controller.go**:

[code]

If you run the following request: `GET /?name=Alice`, you'll get back the following response:

[code]

It should actually be a validation error and most likely return a [422](https://www.webfx.com/web-development/glossary/http-status-codes/what-is-a-422-status-code/).

[2022-06-28 05:51] 012e commented on #144
I don't need this. It's just an edge case I found.

[2022-06-28 05:53] 012e commented on #149
Not really, I don't need this

[2022-06-28 08:51] 012e opened #173 "Can't create routes"
I tried  `bud new controller` but it doesn't work
[code]
[code]

- OS: Arch Linux
- bud: 0.1.10

[2022-06-29 06:22] #173 closed

[2022-06-29 06:28] matthewmueller commented on #173
Sorry about that! This should be fixed (and now tested!) in v0.1.11.

[2022-06-29 22:29] matthewmueller commented on #60
Closed by #131

[2022-06-29 22:29] #60 closed

[2022-06-30 05:22] matthewmueller commented on #171
I'm thinking of doing an easy version of this first where it uses https://github.com/go-playground/validator. Long-run I definitely want to generate the unmarshaler, but that's going to take some time and I'd like to have the interface working earlier.

[2022-07-02 17:33] vito opened #183 "`bud build` and `bud run` add bogus entry to `go.mod`"
I think this started happening with pretty recent changes - I'm using v0.1.9:

[code]

This has an absolute path on my dev machine so I have to avoid accidentally committing it.

[2022-07-02 18:47] matthewmueller commented on #183
Ahh, I can see that being annoying. This happens when using the latest version of bud, so not one of the releases: https://github.com/livebud/bud/blob/f3872335de4f45ae51453ff5082e1ad16c38343a/internal/cli/bud/bud.go#L149

Some context: I [originally added](https://github.com/livebud/bud/pull/155) this when testing Bass Loop before releasing v0.1.9 to test that Bud continued to work. The runtime ha

[2022-07-02 20:13] matthewmueller opened #184 "Figure out what the best way to recompile Go files is"
After playing around with @vito's https://github.com/vito/bass-loop I noticed that the rebuilds are painfully slow. Somewhere between 10-20s on my machine. I believe this is primarily because of the SQLite3 dependency triggering a CGO build.

I've noticed is that `go run` seems to have better performance on fresh builds for CGO projects. If you run `go run bud/internal/app/main.go` on Bass Loop, i

[2022-07-02 21:55] matthewmueller opened #186 "Fix flaky view test"
Getting pretty frequent CI failures:

- https://github.com/livebud/bud/runs/7164495134?check_suite_focus=true
- https://github.com/livebud/bud/actions/runs/2602840303

I think it's related to bud server [still needing a constant port](https://github.com/livebud/bud/blob/97d9b1354278bbfb325d0d7021e27eff946b3eaf/framework/view/dom/dom.gotext#L40), but the test suite [picking a random port](https://g

[2022-07-02 23:11] matthewmueller opened #187 "Support .svelte files in node_modules"
This issue has come up twice so far where folks are trying to include `.svelte` files from `node_modules`:

1. https://github.com/livebud/bud/discussions/99
2. Trying to use svelte-time in [Bass Loop](https://github.com/vito/bass-loop/blob/d162db218c056964e1c77e92a72d458e9d69579d/view/RunSummary.svelte#L2)

Honestly, I thought this was considered a bad practice™️ and that authors should pre-compil

[2022-07-03 20:25] matthewmueller opened #191 "DI error in controller not scoped to request/response"
This came up in the livestream. Given the following `controller/controller.go`:

[code]

The `NewSession` will fail while trying to load the web server, not per request, despite it being a per-request dependency.

[2022-07-03 20:48] matthewmueller commented on #191
Okay after further investigation, this is working as expected though a bit surprising. The code above is saying...

**"I can create a *Session either with NewSession or by initializing the Session struct"**

It prefers functions over structs so it chooses the `NewSession` approach. `NewSession` does not depend on `http.ResponseWriter`, only the `Session` struct does.

Since there's no request-scop

[2022-07-03 20:48] #191 closed

[2022-07-04 06:57] #45 closed

[2022-07-07 12:06] dangerzone commented on #149
I was not able to reproduce this with the latest bud version 0.2.0

On a new bud project:

`bud new controller foobar:/ index show
bud new controller index
`

Worked as expected with no errors

[2022-07-09 05:48] Aditiayunda opened #199 "Creating a project using `bud` command doesnt work as in read me"
when i do `bud create hello` it gives error
[code]

when i followed the instruction to add module and create the project, it cant be started, it gives this error
[code]

[2022-07-09 06:09] 012e commented on #199
Hey @Aditiayunda, are you using GOPATH with multiple directories? Looks like a duplicate of #78

[2022-07-09 06:15] Aditiayunda commented on #199
it seems like it @012e, thanks for the help. i will try to resolve and run this again

[2022-07-09 06:15] #199 closed

[2022-07-09 09:08] amalshaji opened #201 "Unable to access documentation"
<img width="1492" alt="Screenshot 2022-07-09 at 2 32 35 PM" src="https://user-images.githubusercontent.com/18011385/178099425-cdbe1ef5-812e-4522-a468-062812188082.png">

[2022-07-09 17:06] matthewmueller commented on #201
Sorry about that, I've been working on migrating the docs and I must have flipped the wrong switch. It should be working now!

[2022-07-09 17:06] #201 closed

[2022-07-14 05:57] gunnrcrakr opened #202 "How to deploy Bud to Real-world ?"
I want to deploy to ec2, or heroku. How can I do that ? (I'm newbie)

[2022-07-15 02:38] Jeffrey-mu opened #204 "bud create app fail"
run create bud_app

| create: Unable to infer a module name. Try again using the module <path> name.

For example,
        bud create --module=github.com/my/app bud_app
![image](https://user-images.githubusercontent.com/66287770/179136031-0891bf62-a299-4f77-9eed-caed4ee4ccbb.png)

[2022-07-15 03:30] matthewmueller commented on #204
Hey @Jeffrey-mu, I just tried: `bud create --module=github.com/my/app bud_app` and it worked for me. What error did you see?

Also, how did you hear about Bud? 👀  I'm seeing an influx of stars but I can't find the link.

[2022-07-15 03:33] matthewmueller commented on #202
Hey @gunnrcrakr, I'm working on documentation for this! Right now it'd be a bit manual:

1. Launch an EC2 instance
2. scp your code to that instance or build the binary locally in a linux docker container
3. SSH into that instance
4. Build the binary if you haven't already
5. Start the binary
6. Optionally setup systemd to restart the binary when the instance restarts or process crashes.

[2022-07-15 03:44] Jeffrey-mu commented on #204
@matthewmueller
Thank you very much. I may have failed due to network problems before. I'll try again

[2022-07-15 03:45] matthewmueller commented on #204
Oh yes, there's an NPM install in there. That will go away soon.

[2022-07-15 03:54] Jeffrey-mu commented on #204
@matthewmueller
ok It's all right now. It's the agent's problem
Terminal input
go env -w GO111MODULE=on
go env -w GOPROXY=https://goproxy.io,direct
Thank you, brother😃

[2022-07-15 03:56] matthewmueller commented on #204
Yo @Jeffrey-mu, how'd you hear about Bud? Please share a link 🙏

[2022-07-15 03:57] Jeffrey-mu commented on #204
@

[2022-07-15 03:58] #204 closed

[2022-07-15 03:58] Jeffrey-mu commented on #204
is ok

[2022-07-15 03:59] matthewmueller commented on #204
Cheers, thanks man!

[2022-07-16 03:06] dcb9 opened #206 "How to work with Tailwind css framework?"
Hi Matt,
I've watched your Youtube video and I love it. It simplified so many steps and the most important is that it integrated frontend and backend together.
I'd like to know can `bud` work with tailwind css?
Thanks

[2022-07-16 04:04] dcb9 opened #207 "Is it possible to support module?"
I'm going to launch a web application, which contains two modules, admin panel and user panel, but now I haven't seen any docs yet.

[2022-07-16 04:14] peanut-cc opened #208 "bud run error"
my go info:
[code]
bud version

[code]

[code]
error info is:
[code]

[2022-07-16 04:33] matthewmueller opened #209 "new controller: scaffolding nested resources needs improvement"
The following command doesn't work yet:

[code]

The problems are the following:

1. Currently the generated `view/posts/comments/index.svelte` contains a missing `comment` variable:

[code]

Right now it's not clear how we should pass this through. Also open to other ideas like using the URL path instead.

2. `posts/comments/new.svelte` has a similar problem. It generates a file that is missing `

[2022-07-16 04:43] matthewmueller commented on #208
It's working okay for me, did you forget to run `cd hello`?

[2022-07-16 04:45] matthewmueller commented on #207
Hey @dcb9, thanks for your interest in Bud! Do you mean two separate apps with different go modules?

[2022-07-16 04:46] matthewmueller commented on #206
Thanks for the kind words! This is actually something I'm working on integrating better while working on the website.

For now, I'd recommend using the Play CDN: https://tailwindcss.com/docs/installation/play-cdn

[2022-07-16 05:03] #55 closed

[2022-07-16 05:14] matthewmueller opened #210 "Consider moving hoisted dependencies into the controller actions"
Right now you're able to do something like this:

[code]

And Bud is smart enough to initialize `*postgres.Client` once on boot and `*session.Session` per request. This was done to keep the function signature of the actions clean and focused on the inputs and outputs.

Suppose Load was an expensive operation though. It would be very surprising to learn that Load is called every request. I'm now le

[2022-07-16 07:21] peanut-cc commented on #208
![2022-07-16_15-19](https://user-images.githubusercontent.com/55480838/179344777-2fb96460-5e76-459f-ac74-7834b5a38176.png)

[2022-07-16 07:33] peanut-cc commented on #208
Very sorry, I found that it seems to be my own go environment problem

[2022-07-16 07:33] #208 closed

[2022-07-16 14:26] jfmario commented on #149
It is trying to create this during file generation (at the top of `controller/controller.go`).

[code]

I'm looking at the `.gotext` files and experimenting with how feasible it would be to do the following instead:

[code]

[2022-07-17 02:15] jfmario commented on #171
Users already have to add `json:"post_id"` and so forth to their input structs, would it be a valid solution to document to users that `validator.Struct` will be executed against the input so that they can add `validate` tags to struct fields as needed? Or is this depending too much on a third party API?

[2022-07-17 02:47] jfmario commented on #187
I can do this now with bud as it is (at least as of the latest main branch).

[code]

This worked with no issue for me during `bud run`.

[2022-07-17 02:52] matthewmueller commented on #171
Actually, that's even more straightforward solution. I think that'd be a great first step!

My main concern of just allowing an unaltered version fo this is around needing to break the API at some point. I'm doubtful all the decisions in validator will be good decisions for Bud.

But maybe that could be a 1.x or 2.x transition. I like the idea of getting all the pieces in place, then refining as w

[2022-07-17 04:28] dcb9 commented on #207
No, not that one, what I want is that two frontend modules in a single Bud project. The route of admin panel should be `/admin/users`, of user center should be `/` for index and `/home` for user home.

[2022-07-17 19:19] jmmk opened #215 "`make install` requires github.com/pointlander/peg"
Following https://github.com/livebud/bud/blob/main/contributing/Readme.md#setting-up-bud-for-development, `make install` fails on the `go generate` step unless https://github.com/pointlander/peg is available on `PATH`.

Using `go install github.com/pointlander/peg` worked to install it.

[2022-07-17 19:42] jmmk opened #216 "`bud create --dev` fails when there is a space in the file path"
Running `create` on a directory like `/tmp/space dir` causes an issue with `go mod`

[code]

If we check the `go.mod` file contents, we see it was templated without quotes and is being interpreted as `/tmp/space`

[code]

If we remove the `replace` directive and try with `go mod edit`, we can see what the quoted version looks like:

[code]

---

It's possible that other characters will cause issue

[2022-07-17 20:18] jmmk opened #217 "`bud run` fails if using a different go version within project"
I installed `bud` using the default install script from `https://raw.githubusercontent.com/livebud/bud/main/install.sh`. It was placed at `/usr/local/bin/bud`

I use asdf (https://github.com/asdf-vm/asdf) to manage go versions and set specific versions to use within a given project/directory. The https://github.com/kennyp/asdf-golang plugin sets up the go env vars.

Example in a directory using go

[2022-07-17 20:53] #215 closed

[2022-07-17 20:53] matthewmueller commented on #215
Thanks for your interest in contributing to Bud! I just pushed up a fix.

[2022-07-17 20:59] #138 closed

[2022-07-17 21:08] matthewmueller commented on #217
Ahh interesting, could you see what's happening here?

https://github.com/livebud/bud/blob/3a251081b908bc8c2dd15cfcaac0352b03e59f82/package/modcache/modcache.go#L376-L388

My guess right now: `GOMODCACHE` is not in your environment but somehow picked up by `go env GOMODCACHE`.

[2022-07-17 21:24] matthewmueller commented on #216
Hey @jmmk, I just tested it on my machine and while I wasn't able to reproduce your error:

[code]

I did test `go mod edit -replace github.com/livebud/bud="$PWD"` with a spaces in `$PWD` and it auto-quoted.

And thanks for pointing me to `modfile.AutoQuote`! I just added it in.

[2022-07-18 01:02] jmmk commented on #216
I tested your branch and it seems to work fine.

It seems unlikely that a go module name would need to be quoted, but in the module code they do use AutoQuote on every value (module name, `require`s, `replace`s), so it could be worth considering using it on those as well.

[2022-07-18 02:52] jmmk commented on #217
According to https://go.dev/ref/mod#module-cache,

That link states:

The code you pasted above seems to follow this same logic.

If I run a test to see what is in the env:

[code]

Here is the output when run using `go run main.go`:

[code]
which is consistent with `go env` output (just that `GOMODCACHE` is a computed value and is not set explicitly)

[code]

_but_ when I run `go build main.go &&

[2022-07-19 05:48] matthewmueller commented on #217
Thanks for the details @jmmk!

One other potential solution:
- Bud does whatever `go env GOMODCACHE` does to resolve the module cache.

I'm tempted to close this issue since I think it's fairly reasonable for a tool to expect if `go env GOMODCACHE` has a custom path, you'd be expected to adjust `export GOMODCACHE="..."` in your `.zshrc` or equivalent. What do you think?

[2022-07-19 06:00] matthewmueller commented on #187
Ah interesting! I don't think I touched this code, so I'd be surprised if something changed. Do you mind prepping a small example?

[2022-07-19 13:44] jmmk commented on #217
@matthewmueller I think it's fair to close. `bud` is properly handling the environment variables. It's my shell environment that is not setting them up globally

[2022-07-19 14:28] jfmario commented on #187
I made a test case that demonstrates it in `framework/view/view_test.go`.

`go test ./framework/view`

[2022-07-20 06:01] #216 closed

[2022-07-21 18:36] gunnrcrakr commented on #202
Do I have to install livebud on that ec2 ?

[2022-07-21 19:40] jfmario commented on #202
This is what I've been working with for running the bud app with docker:

[code]

[2022-07-22 01:36] matthewmueller commented on #187
This seems to be possible after testing it in #221. We can re-open if we discover it's more nuanced. Thanks @jfmario!

[2022-07-22 01:36] #187 closed

[2022-07-22 13:25] inluxc commented on #202
The better way is to build in a builder container and then copy to a scratch container just the build.

[2022-07-22 13:49] jfmario opened #226 "svelte.js not found (appeared after 0.2.2)"
To reproduce: go to a pre-existing project, install the latest release of bud, and run `bud build`.

My error is:

[code]

The offending part of ssr.go is:

[code]

There is no svelte.js in that directory, and I don;t think there was before. It used to be `//go:embed svelte.ts`.

I'd do a PR, but I'm thinking you made this change for a reason and something didn't make it into the repo?

[2022-07-22 13:53] jfmario commented on #226
I don't have this error when running `go run main.go -C ../bud-sample-1/ build`. My local bud repo got its svelte.js at some point.

[2022-07-22 15:29] matthewmueller commented on #226
Ah shoot. I knew there was a reason for keeping these files in source control.

Ideally, they stay out of source control, but get embedded during release. I'm not sure how to do that right now though.

Either way, I'll get this fixed one way or another tonight and cut a new release. Sorry about this regression!

I've also been meaning to add some basic black-box tests in the Makefile, similar to w

[2022-07-22 18:27] pacholoamit commented on #226
Hello! Was facing the same issue but when I ran the script with the `VERSION` above it works!

[2022-07-23 01:04] jmmk commented on #217
I found an existing issue thread on the `asdf-golang` repo about this: https://github.com/kennyp/asdf-golang/issues/28

There are several suggestions and workarounds, but I ended up following https://github.com/kennyp/asdf-golang/issues/28#issuecomment-863418448 to install https://github.com/asdf-community/asdf-direnv

After setting that up, moving into the project directory sets the proper `GOPAT

[2022-07-23 07:18] #226 closed

[2022-07-23 07:27] matthewmueller commented on #226
Fixed in v0.2.3! Upgrade with:

[code]

Sorry for the trouble!

[2022-07-23 16:08] matthewmueller commented on #217
Thanks for circling back with a solution!

[2022-07-24 21:25] matthewmueller commented on #171
_(Linking an existing draft: https://github.com/livebud/bud/discussions/15)_

If we go the validator route, we'll still want to generate some required struct tags. For example:

[code]

Would correspond to the following:

[code]

Bud's API contract is required by default rather than optional by default like Go. If you want optional, you use pointers.

[2022-07-31 21:31] #92 closed

[2022-08-01 08:17] Aditiayunda opened #234 "Implement gothinkster/realworld demo (for full example)"
This project looks interesting, but I would really love to have https://github.com/gothinkster/realworld demo app built using this project.

For now svelte-kit has a real-world demo https://github.com/sveltejs/realworld and it really makes a different especially for new people that wants to learn the framework to understand how certain stuff are being done (with best practice).

[2022-08-04 08:38] Bishwas-py opened #237 "`bud run` gives me -mod=mod not supported (can be '', 'readonly', or 'vendor')"
I am very new to bud, I am an indie dev. And was trying out bud, but bun run give me : `-mod=mod not supported (can be '', 'readonly', or 'vendor')`

This is my path tree:
[code]

[2022-08-04 08:41] Bishwas-py commented on #237
With sudo privilege:

[code]

[2022-08-04 08:41] Bishwas-py commented on #237
I install bud with
[code]

[2022-08-04 20:56] JusticeN opened #238 "Bud new model"
Is there a plan to have a command for generating models and connecting it with database?

[2022-08-05 22:15] matthewmueller opened #240 "Improve onboarding when outside $GOPATH"
Currently leaning towards:

- If in `$GOPATH`, no change in behavior. Infer the module name.
- If outside of of `$GOPATH`, follow what Wails does, unless...
  -  you've specified a `--module=<name>`

Context: https://www.reddit.com/r/golang/comments/wf95gr/comment/iitsjrd/?utm_source=reddit&utm_medium=web2x&context=3

[2022-08-05 22:18] matthewmueller commented on #237
Hi @Bishwas-py, that's interesting.

- What version of Go are you running?
- What are the permissions of `go-for-good`?

Do you mean `bud create`? It seems like `bud run` is giving you `no such file or directory` which makes sense if `bud create` didn't have the right permissions.

[2022-08-06 01:31] Bishwas-py commented on #237
### What version of Go are you running?
[code]

### What are the permissions of `go-for-good`?
[code]

[2022-08-06 01:31] Bishwas-py commented on #237
Yeah, `bud run` is giving me issues.

[2022-08-06 04:36] Bishwas-py commented on #237
Hey @matthewmueller, I succefully used `bud run` after updating it to `go version go1.19 linux/amd64`. While updating I had to do it via external ways.

[code]

But I dunno if this is a proper solution but it work for my user, wherever it give this weird error for my root.

[code]

[2022-08-06 05:14] Bishwas-py commented on #206
Is this added?

[2022-08-06 07:01] Bishwas-py commented on #238
Yupp, that'll be a lot awesome...

[2022-08-06 09:35] Bishwas-py opened #241 "Hosting bud app in Heroku?"
I tried hosting Bud in Herko, [this app](https://github.com/Bishwas-py/bud-example), but got failed 'cause `bud/app` was just a symlink, not an executable.

Here's my procfile...

[code]
Yeah, I know that bud/app must have its symlink to work but I was unable to do so. How can I host it well in Heroku? I was quite able to do it in my AWS vps, but just wanna do it in Heroku for now...

[2022-08-06 11:33] McGeerDev commented on #241
Hey man how did try hosting your app? What steps did you follow? Did you get any errors? Looking forward to learning with you.

[2022-08-06 15:36] Bishwas-py commented on #241
Just pushing the coding through `git push heroku main`

Getting this message...

[code]

[2022-08-07 03:02] matthewmueller commented on #238
Hey folks, thanks for your interest in Bud! We're working on adding built-in model support, but in the meantime, you can do this today yourself.

Conceptually, take a look at the [Dependency Injection docs](https://www.notion.so/Hey-Bud-4d81622cc49942f9917c5033e5205c69#976e4b0666f34d5eae6ccbce93111025) to see how you can bring models into your controllers. Then you can take a look at a real-world

[2022-08-07 03:05] matthewmueller commented on #241
Hey @Bishwas-py, thanks for experimenting with this. This is definitely an area that needs some research and improvement.

`bud build` should provide you a non-symlink executable. I'll start looking into this in a few weeks once I'm looking to deploy the website.

In the meantime, let us know if you figure it out! I'm here to help if you explore further!

[2022-08-07 03:07] matthewmueller commented on #206
Still working on it. In the meantime use the CDN version

[2022-08-07 16:45] matthewmueller commented on #237
The error is related to it not being able to find the runtime. That should happen automatically though during `bud create`. Maybe that's the problem then, running `go mod download all` doesn't work for some permissions reason?

https://github.com/livebud/bud/blob/97195d44386369d6c54b1f99e79df80ead0c3ea4/internal/cli/create/create.go#L172-L177

[2022-08-09 23:48] JusticeN commented on #238
Thank you really good example.

I was thinking about something like the ruby and rails model field generator from the cli.

Or the jhipster one for generating Java spring boot apps.

Or may be "bud" just have a different philosophy

[2022-08-10 05:34] matthewmueller commented on #238
We definitely want to have a Rails-like model generator once we have model support. The philosophy is similar here.

I hadn't heard of jhipster, I'll check that one out, thanks for sharing!

[2022-08-11 05:53] Bishwas-py opened #246 "How is svelte being server side rendered?"
This project is extremely interesting and awesome. But I wanna know how the svelte code is being server-side rendered here.

[2022-08-11 16:31] #246 closed

[2022-08-13 07:43] #149 closed

[2022-08-14 12:32] omar391 commented on #36
There is another alternative: https://docsify.js.org/
- Themeable
- Searchable
- No static HTML compilation required

[2022-08-15 10:31] Jeffrey-mu opened #250 "Can + 1 operate when the port is occupied"
| listen tcp 127.0.0.1:3000: bind: address already in use

For example, running on
127.0.0.1:3001
| listen tcp 127.0.0.1:3001: bind: address already in use
127.0.0.1:3002

[2022-08-15 13:35] jfmario commented on #250
I'm not sure whether this is a desirable feature or not, but just in case you weren't aware you can do `bud run --listen 8080` if you need to select a port other than 3000.

[2022-08-15 13:42] Jeffrey-mu commented on #250
Thank you very much for your reply. I'll try it

[2022-08-16 01:53] matthewmueller commented on #250
Hey @Jeffrey-mu, thanks for trying Bud! I'd definitely like to add support for this. I run into this quite a bit during development.

[2022-08-16 10:11] Bishwas-py commented on #250
@Jeffrey-mu Hey bud! If you wanna still wanna use `bud` in its default port, you can try this.

[code]
For your case
[code]

[2022-08-16 10:16] Jeffrey-mu commented on #250
Oh, I see what you mean
Obviously, you don't know what I mean
I mean, if the default port is occupied, the port can be automatically incremented
I am trying to build a website with bud. These small problems will not stop me from learning bud.
 Thank you for your reply

[2022-08-17 11:39] 012e opened #251 "Can't have multiple instances of `bud run` at the same time"
# Reproduce

1. Create 2 different project `bud create --module=a a` and `bud create --module=b b`
2. `bud run` in project `a`, `bud run --listen 3001` in project `b`
3. Error with project `b`
[code]

[2022-08-18 02:43] matthewmueller commented on #251
Ah, good point! This is a known TODO in the codebase, for example:

https://github.com/livebud/bud/blob/6485405ec244c8df90d7a6acb6aa36cd77f7d9ca/internal/entrypoint/list.go#L161

I haven't had a chance yet to thread the configuration through all the layers. If you do a search for `:35729`, you should see a few spots where this should be configurable.

I was thinking you could do the following:
- `

[2022-08-18 05:24] matthewmueller commented on #240
Closed by #242!

[2022-08-18 05:24] #240 closed

[2022-08-19 06:36] preslavrachev opened #252 "Are cross-platform builds possible using the Bud CLI?"
Not a biggie, but I'd sometimes build Linux apps locally on my Mac, and throw them directly on one of my spare machines. It's just a time saver when I don't need to bother with setting up a build and deployment pipeline.

Anyway, while the standard `go` command allows cross-platform building, the following has no effect in Bud:

[code]

It will simply produce a Mac (in my case) binary and ignore t

[2022-08-20 15:25] ralfiannor opened #253 "Default CSS in each page"
Instead applied a default css in each html page, why not to add the css style in the `example project` or `welcome page generator` only.

[2022-08-20 17:13] matthewmueller commented on #252
Hey @preslavrachev! I'd love to add cross-compilation support. Right now we're blocked by the [V8](https://github.com/rogchap/v8go) dependency which depends on CGO.

I'm working going to integrate https://github.com/livebud/js soon to support the Goja runtime, so you'll be able to swap to a slower, but CGO-less build.

One thing I'm wondering is how seamless it should be. I was thinking of if `CGO

[2022-08-20 17:23] matthewmueller commented on #206
Can you share why the default CSS is blocking? Are styles being overridden or something?

[2022-08-20 18:05] matthewmueller commented on #253
Hey @ralfiannor, thanks for trying Bud!

The `default.css` implementation was a bit rushed, but I think the goal is still worthwhile:

**Original Goal:** When there's no other CSS on the page, Bud provides reasonable defaults. This stems from the fact that _every website_ adds `normalize.css`, `reset.css`, `preflight.css`, etc.

A couple solutions I can think of right now.

**1. You can override `

[2022-08-20 18:06] matthewmueller commented on #253
I remember @vito also being surprised about the `default.css`, do you have any thoughts?

[2022-08-22 13:55] vito commented on #253
I like 3 as well. I was a little surprised to have default CSS but I think it's a reasonable thing for Bud to do, since as you said just about every project starts with one, and I think it's good for Bud to cut out as much boilerplate as possible.

What I like about 3 is I can clearly see that it generated a default CSS for me. Thinking back what was more surprising was that it was happening witho

[2022-08-23 03:14] matthewmueller commented on #253
Good point! I also agree that a manual upgrade would be preferable to a potential styling surprise. Copy and paste for now would be fine since I don't see normalize.css changing much.

Let's go with **3.** then!

@ralfiannor, do you have any interest in contributing this change in [your PR](https://github.com/livebud/bud/pull/254)?

Sidenote: I'm wondering if Go-style packages would make sense for

[2022-08-24 06:03] Jeffrey-mu commented on #250
close

[2022-08-24 06:04] Jeffrey-mu commented on #250
close

[2022-08-24 13:54] matthewmueller commented on #250
Re-opening since we'd still like to do this one.

[2022-08-24 14:01] Jeffrey-mu commented on #250
哦 That's great！

[2022-08-24 23:02] matthewmueller opened #257 "Look into flaky test timeout"
[code]

[2022-08-24 23:21] #257 closed

[2022-08-25 16:34] ralfiannor commented on #253
Great, I'm interested to start contributing to this project. So If we run the command `bud create <dir>`  we will scaffold `public/default.css` also and when add the flag `--css=tailwind` the `default.css` will fill tailwind css styling, right ?

[2022-08-26 00:13] matthewmueller commented on #253
I'd ignore the tailwind scaffolding at the moment because I intend to work on that soon: https://github.com/livebud/bud/discussions/188

I'd suggest:
1. Updating scaffolding to create `public/default.css`
2. If you delete `public/default.css` all default styling is removed.

[2022-08-26 15:12] jfmario opened #260 "Can't have a custom type be the input to a controller action"
With the following controller:

[code]

There is the following error:

[code]

This came up when I was working on issue #171

I'll take a look at what is going on, but I wanted to put this issue in for tracking it since it's separate.

[2022-08-26 16:14] jfmario commented on #260
So, here is where it needs to be handled: https://github.com/livebud/bud/blob/main/package/parser/definition.go#L23

I've been looking into it, but so far I'm at a bit of a loss as to what has happen here... other than that the value of `decl` has to be set to something that the bud parser will understand.

[2022-08-27 16:51] matthewmueller commented on #260
Thanks @jfmario! This is indeed a known issue. I'll try to push up a fix soon to unblock you, but otherwise feel free to wrap up the other PR on just with just struct support and we'll get to this later!

[2022-08-27 17:57] FeldrinH commented on #171
Using `validate:"required"` has the problem that this makes the default value invalid, so something like `{"email": "", "password": ""}` would be considered invalid, which would be problematic if the default value is in fact a valid value.
This would be especially problematic for numbers, where the default value is 0.

[2022-08-28 07:53] kaihendry opened #265 "./node_modules/.bin/tsc: No such file or directory"
I cloned it down, npm i, `make` and I hit:

    /bin/sh: ./node_modules/.bin/tsc: No such file or directory

Missing dependency?

[2022-08-28 12:58] 012e commented on #265
This Makefile doesn't have the [default target](). You have to do `make install`.

So in this case it's running `make precommit` instead of `make install`
https://github.com/livebud/bud/blob/701c1782e4530909588d50b6b9e9a8c61c6b6c0f/Makefile#L1-L14

[2022-08-29 01:19] matthewmueller commented on #265
Did that work for you @kaihendry?

[2022-08-29 01:34] matthewmueller commented on #171
That's a good point @FeldrinH. I think this needs a bit more thought, but the place we'd like to get to is when you have

[code]

The following would be allowed:

[code]

But this would not be:

[code]

Because password was undefined.

[2022-08-29 04:03] kaihendry commented on #265
Expectation for any project is once cloning it down, you run a `make` and then you get going. Surely you have a bug with your Makefile?

Or put, `all: install` at top?

[2022-08-29 07:11] matthewmueller commented on #265
I'd definitely accept a `default: install` at the top of the Makefile to simplify this for  the future!

---

We do have a [contributing guide](https://github.com/livebud/bud/blob/main/contributing/Readme.md) for future people seeing this thread.

[2022-09-01 19:45] pikooli opened #266 "bud create hello error"
Hello when I try bud I got this error.

     ~ bud create hello
     | create: Unable to infer a module name. Try again using the module <path> name.

     For example,
     bud create --module=github.com/my/app hello

My version :

    ~ bud version
         bud: 0.2.3
      svelte: 3.47.0
      react: 18.0.0

[2022-09-01 20:48] mickeyvip opened #267 "Client side debug or use node tools"
Hello and thank you for this interesting project.

I am wondering

- How we can debug the client-side code:
  - There seem to be no source maps
  - The "Svelte Dev Tools" does not recognize the client-side code as Svelte

- How we can use node tools such as:
  - postcss (for adding TailwindCSS, for example)

[2022-09-02 03:43] matthewmueller commented on #266
Hey @pikooli, does `bud create --module=github.com/my/app hello` also not work for you?

[2022-09-02 10:01] verrol commented on #266
I got the same error and it works with `--module`, but the docs needs to be updated.

[2022-09-03 02:55] #250 closed

[2022-09-03 03:01] matthewmueller commented on #251
Calling out another challenge which is that the `response` package hardcodes this value:

https://github.com/livebud/bud/blob/5a45c5e67051a3e591a718758970e3de9eae2a4f/framework/controller/controllerrt/response/response.go#L158

That internal package is quite old and is need of an update. Ideally the generated controller creates a response struct that can contain configuration like this.

[2022-09-03 03:03] matthewmueller commented on #266
Closing since the PR that improves this is already merged into main: https://github.com/livebud/bud/pull/242

And we'll get a new release out soon!

[2022-09-03 03:03] #266 closed

[2022-09-03 03:24] #265 closed

[2022-09-06 09:57] IvanRibakov opened #278 "How to debug routing problems?"
Hi, I'm taking bud for a spin and it seems like I've hit a road block early on. I have created a new app using `bud create` and confirmed that default welcome page was displayed using `bud run`.

My next step was to add a simple static page like this:

[code]

However, now `http://127.0.0.1:3000/` returns `404 page not found`.

How can I proceed to debug this issue? I ran `bud -L debug run`, but t

[2022-09-07 05:20] matthewmueller commented on #278
Hey @IvanRibakov, thanks for trying Bud!

Right now you need to create a controller in order to generate the route. So you'd need something like:

[code]

There is an RFC for [Static Views](https://github.com/livebud/bud/discussions/13) have a look and let me know what you think!

[2022-09-07 07:29] IvanRibakov commented on #278
Hi @matthewmueller , thanks for the quick response. I must have misunderstood the documentation then - I got impression that static views are implemented in the way they are described in the docs with an existing RFC looking to possibly change that.

Adding controller with Index method indeed solved the 404 problem, but now I just get an empty page with the following DOM:
[code]

Notice there is n

[2022-09-08 21:06] JanGordon opened #279 "How do I use UI components?"
Hello, I am very interested in this project but I can't work out where I am going wrong here.
I don't understand how to import ui components from svelte files.
I have a folder in the base of the project named "ui" and a file named "Test.svelte" in it.
If I try to import the component in the main index.svelte of the page like this:
`import Test from "ui/Test.svelte"`
I get this error:
` You can mar

[2022-09-09 00:39] matthewmueller commented on #279
Hey @timmyjan46, thanks for your interest in Bud!

I'm surprised that `import Test from "ui/Test.svelte"` doesn't work. If you have a spare moment, creating a failing test isn't too difficult and would speed up the fix: https://github.com/livebud/bud/blob/2b3cf758554bdb6fa385129955b4ed50637f50bd/framework/view/view_test.go#L361. No pressure, either way I'll give this a shot soon.

Importing non-JS

[2022-09-09 00:47] matthewmueller commented on #278
No worries, the documentation and examples are still a bit sparse. Debugging tools are still in their infancy, though `bud --log=debug run` may give you some answers.

Can you share your directory tree, that would be helpful to debug.

[2022-09-09 06:40] timmyjan46 commented on #279
Thanks for answering so quickly!

I was expecting `import image from "public/image.png"` to give me a URL as it does when using vite to build. You can use the image variable for and image source.

I can try and work out how to add a test but I'm not sure if I'll succeed but I'll give it a go.

[2022-09-10 15:35] matthewmueller commented on #279
Oh got it, I'll have a look at how vite does it. I'm on the fence about importing assets via JS because sometimes I could see people expecting a data-uri. I do see the convenience in this and maybe I can make it pluggable.

Saw your PR, thanks!

[2022-09-11 05:00] kaihendry commented on #265
Supposing I built it locally from a git clone, how do I then try it?

make example.basic ended with a `Error: EACCES: permission denied`

[2022-09-11 12:52] 012e commented on #265
I got the same issue on Arch Linux. I think you should follow this [stack overflow answer](https://stackoverflow.com/questions/48910876/error-eacces-permission-denied-access-usr-local-lib-node-modules/55274930#55274930) (work for me).

[2022-09-17 10:41] JanGordon commented on #279
I say you updated the [PR](https://github.com/livebud/bud/pull/283) but the test only makes sure that you can import from the root of the views folder. I'm still having trouble using components in any other directory. For example, if I have the file view/stories/index.svelte and try to import a component from ui/Time.svelte, import Time from "../ui/Time.svelte" obviously doesn't work here. Is ther

[2022-09-17 20:42] matthewmueller commented on #279
It's all relative paths so in that case you'd do `../../ui/Time.svelte`

Not yet! That's what I'd like to add with the `~` character though, so you can do `~/ui/Time.svelte`. Open to PRs!

[2022-09-19 01:01] adamlamar opened #289 "How to return 404?"
In the show action, I'd like to return 404 if no item in the database exists with that ID.

Is there a specific error to return for the client to get a 404, both with html and json? Is there a pattern for returning an error partial?

[2022-09-19 06:23] spy16 opened #290 "Question: How is bud different than using Go-templates?"
I have been struggling to find an easy-to-use fullstack setup that allows me to quickly build full-fledged apps in my indie-hacking journey.. This looks like the perfect tool (I tried the hacker-news tutorial and i am sold!!). ❤️

But I don't fully understand how this works. It looked like everything was being done server-side. What is the difference between this and using Go templates? 🤔 Is there

[2022-09-21 12:49] sourcec0de commented on #251
Hey @matthewmueller digging into this thread a bit. :wave:
What do you think about selecting an ephemeral port here?
We could inject that [here](https://github.com/livebud/bud/blob/5a45c5e67051a3e591a718758970e3de9eae2a4f/framework/controller/controllerrt/response/response.go#L14).

[2022-09-23 19:11] matthewmueller commented on #251
Hey @sourcec0de! I think that would work, but it might be easier to pass through the response itself: https://github.com/livebud/bud/blob/19a27ce387c109afa7766fd6e494da015b39f929/framework/controller/controller.gotext#L118

You could thread it to that template by passing the listener or the address through the filesystem function to the controller generator: https://github.com/livebud/bud/blob/19a

[2022-09-23 19:22] matthewmueller commented on #290
Hey @spy16, I wrote that up in this discussion: https://github.com/livebud/bud/discussions/248. Have a look and let me know if you have any questions in there.

[2022-09-23 19:22] #290 closed

[2022-09-23 19:29] matthewmueller commented on #289
Hey @adamlamar, it's definitely not perfect right now but you can use the pull in the `http.ResponseWriter` as a dependency to the controller. Then write the response

So something like:

[code]

Not yet. As part of building the documentation, I want to add support for layouts and error pages, so this should come soon.

[2022-09-24 02:21] adamlamar commented on #289
Gotcha, thank you! Looking forward to the layouts and error pages too.

[2022-09-30 09:01] anyhuang opened #295 "panic: unexpected 32-bit segment"
`(base) ➜  hello_bud bud build
# command-line-arguments
panic: unexpected 32-bit segment

goroutine 1 [running]:
cmd/link/internal/ld.machoCombineDwarf(0x10505d798?, 0x14001b5e060?, 0x14000e76080, {0x14001496140?, 0x1?}, {0x14002ad6060, 0x53})
        /usr/local/go/src/cmd/link/internal/ld/macho_combine_dwarf.go:218 +0xfb4
cmd/link/internal/ld.(*Link).hostlink(0x1400014e000)
        /usr/local/go/

[2022-10-01 03:49] matthewmueller commented on #295
Hmm... that's odd since you're running the same version and hardware as me :)

Can you share the steps you ran to reproduce this error?

[2022-10-29 10:05] aadog opened #315 "win11 wsl hot reload invalid"
win11 wsl hot reload invalid

[2022-10-30 07:40] matthewmueller commented on #315
Hey @aadog, can you share what you're seeing in your terminal?

[2022-10-31 09:35] aadog commented on #315
@matthewmueller The console does not output, just like the file does not have monitoring enabled

![image](https://user-images.githubusercontent.com/18098725/198977362-9fc22567-2a59-4b2e-ae5c-b4ccdc16345e.png)

[2022-10-31 23:43] matthewmueller commented on #315
Hey @aadog thanks for the screenshot. Would you be up for helping me debug this? https://github.com/livebud/bud/tree/main/contributing

This one would be challenging for me since I don't have WSL 11 and I unfortunately can't read Chinese characters 😅

[2022-11-01 15:36] aadog commented on #315
@matthewmueller yes My pleasure

[2022-11-04 11:31] aadog opened #318 "What is its performance in high concurrency mode"
What is its performance in high concurrency mode

[2022-11-04 17:03] aadog opened #319 "Are you migrating to goja?"
Are you migrating to goja?

[2022-11-06 19:03] matthewmueller commented on #319
Not entirely! I want to provide the option via: https://github.com/livebud/js

The calculation to consider is: V8 evaluation + CGO overhead vs. Goja evaluation

Unfortunately there's not a clear winner. It depends on the complexity of the script. This is why we'll need options.

[2022-11-06 19:05] matthewmueller commented on #318
@aadog , sorry I don't understand. What do you mean by high-concurrency mode?

[2022-11-10 21:35] Fuerback opened #324 "Is it possible to send structs from svelte file?"
I'm trying the framework and the idea is to present information from a database, but also allow the users to update some of the fields, for example:

[code]

I would present this information using a form and the user could edit the address and the age (just for example purposes), in this case I'd like to have a route that receives a `PersonalIfno` struct, like the example below:

[code]
But I don'

[2022-11-11 14:14] Fuerback commented on #324
Yep, I just figure out how to do it.

[code]
Svelte file:

[code]

It should work.
Would be nice to have a similar example in Bud's documentation.

[2022-11-11 14:14] #324 closed

[2022-11-11 14:21] Fuerback opened #325 "How can I connect a database using Bud?"
I'm wondering how and where integrates a database (Postegres) using Bud.

I believe is similar to that https://github.com/livebud/bud/issues/210, but not sure.

any thoughts?

[2022-11-11 18:33] Fuerback commented on #325
In my case, I'm using Postgres as a database and I could find the solution for that:

First I created a connection file in:

[code]
[code]
Then I used it on the controller:
[code]

Done!
Thanks to @matthewmueller !

[2022-11-11 18:33] #325 closed

[2022-11-15 14:04] Fuerback opened #326 "Build Bud's project with GitHub Actions isn't working"
Hey, I'm trying to create a GitHub Action workflow to build the project, but I couldn't find a way to make it work.

I don't know if the installation `sh` file can be changed to allow GH Actions to install Bud, for example.

**Build workflow**
[code]

**Error**

![Screenshot from 2022-11-15 11-03-02](https://user-images.githubusercontent.com/3007452/201938915-48cfb7bb-a158-4f9c-8eaa-9269ebd5267b.p

[2022-11-15 16:52] Fuerback commented on #326
All the problems above were fixed with following workflow:

[code]
What is different from the last one is the `Install Go modules` step.

[2022-11-15 16:52] #326 closed

[2022-11-17 07:56] #278 closed

[2022-11-26 07:53] aadog opened #328 "When to support Windows？"
When to support Windows？

[2022-11-27 16:04] sneak opened #330 "using 'change.me' placeholder in go.mod causes network connections to hostname 'change.me'"
When using example/placeholder strings that are interpreted as domain names, the domain `example.com` should be used.

https://github.com/livebud/bud/blob/d9c7ff63a929c9c308921ae35a929f19c5b101c9/internal/cli/create/create.go#L116

[2022-11-27 16:05] sneak commented on #330
Potential workaround would be to interactively prompt the user for the package URI during `create` operation.

[2022-11-27 16:34] sneak opened #331 "generated app directory fails linting with golangci-lint"
[code]

As part of CI I run a linting of my repository.  I suggest adding the line `//nolint:errcheck` at the top of the template for `bud/internal/app/main.go`, as well as any other bud-managed template boilerplate files.  This way any linters people use will ignore these files (without having to do special configuration to exclude the `bud` directory like is already automagically done in the `.g

[2022-11-27 18:00] sneak opened #332 "feature idea: detect git short version hash during build and embed into binary"
In my apps I usually do something like:

[code]

Then at build time (in my Makefile) I do this:

[code]

This embeds the version string into the app so that I can access it, which is useful for me because then in production I can access this value and put it in my footers and error messages so that I know precisely which commit is running.

It would be cool if `bud build` could detect if it's buil

[2022-11-27 18:06] sneak opened #333 "feature suggestion: `bud run` should launch browser"
When launching the dev server, I have to manually open a browser tab and load the URL.  It would be cool if it called out to the OS and simply told it to open the dev server URL.  The quick and dirty (on macOS) is to shell out to `open $URL` but I imagine there's a go module somewhere that does this.

[2022-11-28 01:54] matthewmueller commented on #333
Hey @sneak, I'd definitely accept a PR  with an `--open` flag! I've used this one in the past: https://github.com/pkg/browser

[2022-11-28 02:02] matthewmueller commented on #330
Hmm, wouldn't `example.com` also be interpreted as domain name?

There's some prior discussion about this in: https://github.com/livebud/bud/issues/240. The TL;DR was that:
- We originally prompted when outside of $GOPATH
- People got confused why you'd need to provide that during scaffolding

Curious how you ran into this in the first place? Did you run `go mod tidy` and there was a missing packa

[2022-11-28 02:05] matthewmueller commented on #328
Hey @aadog, please see this discussion: https://github.com/livebud/bud/discussions/81

The main blocker is the V8 dependency: https://github.com/rogchap/v8go#windows

Closing in favor of https://github.com/livebud/bud/discussions/81

[2022-11-28 02:05] #328 closed

[2022-11-28 02:08] sneak commented on #330
Yes, but `example.com` is always guaranteed to be an innocuous domain name (it's IANA reserved): https://example.com

[2022-11-28 02:08] matthewmueller commented on #331
Oh that's neat! I actually think we should lint these files? If that's the only issue reported, that's an easy fix.

Longer-term we'd want lints to be run on the generated test code, so it'd block a release. For now, I'd suggest fixing that one case, then keeping an eye on it. If it becomes more unwieldy, I'm also open to `//nolint` comments, but I do want the generated code to be as good as possi